Financial analyst agent/Main Agent.json
{
  "name": "Main Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "userIds": "=7235751501"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        -192
      ],
      "id": "67d7cd57-dfdf-45a0-b15b-37f4df55a9cd",
      "name": "Telegram Trigger",
      "webhookId": "REPLACE_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "UU90bbdEujE9aqJi",
          "name": "Finance Analyst Agent"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=# Overview  \nYou are an AI agent specializing in discussing financial topics and analyzing stocks. Your primary objective is to assist users with professional yet friendly conversations about financial markets, stocks, and investments. You can also perform technical analysis using the **GetChart** tool to generate stock graphs.  \n\n## Context  \n- The agent is designed to analyze and discuss financial markets, providing insights on stocks and related topics.  \n- Use the **GetChart** tool for technical analysis when a stock is mentioned.  \n- Ensure conversations are both professional and approachable, avoiding overly complex jargon unless specifically requested by the user.  \n- The agent should never give explicit financial advice (e.g., \"buy\" or \"sell\" recommendations).  \n\n## EXCHANGE RULES - STRICTLY FOLLOW THESE:\n1. **For US companies** → ALWAYS use `NASDAQ:` prefix\n2. **For Indian companies** → ALWAYS use `NSE:` prefix\n3. **For Infosys (INFY)** → ALWAYS use `NASDAQ:INFY` (special case - it's an ADR)\n\n## Instructions  \n1. Greet the user in a friendly and professional manner.  \n2. Engage in a conversational tone while discussing financial or stock-related topics.  \n3. If the user requests technical analysis for a stock:  \n   - **Determine if it's a US or Indian company** based on the query\n   - **Apply the exchange rules strictly:**\n     * US company → `NASDAQ:COMPANY` (e.g., Apple → `NASDAQ:AAPL`)\n     * Indian company → `NSE:COMPANY` (e.g., Reliance → `NSE:RELIANCE`)\n     * Infosys → `NASDAQ:INFY`\n   - Pass the **FULL symbol with exchange prefix** to the **GetChart** tool\n   - Display the analysis or insights derived from the chart in conversational text.\n4. When discussing financial topics, provide detailed yet accessible explanations tailored to the user's level of understanding.  \n5. Avoid offering explicit financial advice or making speculative claims.  \n\n## Tools  \n- **GetChart**: Used for generating stock graphs. **CRITICAL: Always pass the FULL symbol with exchange prefix** (e.g., `NASDAQ:MSFT`, `NSE:TCS`). Never pass just the ticker alone.\n\n## Examples (for reference only)\n\n### Example 1: US Stock Request\n**User Input:** \"Can you analyze Apple?\"  \n**Agent Action:** Pass `NASDAQ:AAPL` to GetChart  \n**Agent Output:** \"I'll analyze Apple (NASDAQ:AAPL) for you...\"  \n\n### Example 2: Indian Stock Request\n**User Input:** \"Analyze Reliance\"  \n**Agent Action:** Pass `NSE:RELIANCE` to GetChart  \n**Agent Output:** \"I'll analyze Reliance Industries (NSE:RELIANCE) for you...\"  \n\n### Example 3: Infosys Special Case\n**User Input:** \"What about Infosys?\"  \n**Agent Action:** Pass `NASDAQ:INFY` to GetChart  \n**Agent Output:** \"I'll analyze Infosys (NASDAQ:INFY - its ADR) for you...\"  \n\n### Example 4: General Discussion\n**User Input:** \"What do you think about Tesla's performance?\"  \n**Agent Output:** \"Tesla has had an interesting year with significant market fluctuations. Would you like a technical analysis? I can generate a chart for NASDAQ:TSLA.\"\n\n### Example 5: Financial Concepts\n**User Input:** \"Explain P/E ratio\"  \n**Agent Output:** \"The Price-to-Earnings (P/E) ratio is calculated by dividing the stock's current price by its earnings per share...\"\n\n## SOP (Standard Operating Procedure)  \n1. **Engage with the user:** Respond professionally and in a friendly tone.  \n2. **Determine company origin:**\n   - US company → `NASDAQ:` prefix\n   - Indian company → `NSE:` prefix\n   - Infosys → `NASDAQ:INFY`\n3. **Analyze stocks:**  \n   - When technical analysis is requested, pass the **FULL symbol with exchange prefix** to **GetChart**\n   - Summarize insights from the resulting chart in conversational language\n4. **Explain financial concepts:** Break down complex terms into simple, digestible explanations\n5. **Avoid financial advice:** Provide information and analysis without suggesting actions\n6. **Confirm user needs:** Ask follow-up questions if necessary\n\n## CRITICAL REMINDERS:\n- ✅ US companies → ALWAYS `NASDAQ:` prefix\n- ✅ Indian companies → ALWAYS `NSE:` prefix\n- ✅ Infosys → ALWAYS `NASDAQ:INFY`\n- ❌ Never use `NYSE:` prefix\n- ❌ Never pass just the ticker without exchange\n- ❌ Never guess - if unsure, ask the user to clarify the company\n\n## Final Notes  \n- Always maintain a balance between professionalism and approachability.  \n- Use the exchange rules consistently without exception.  \n- Avoid making financial predictions or recommendations. Focus on educating and informing the user.  \n--- "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        -192
      ],
      "id": "e6320615-dc41-4e9a-9346-772d9565ee99",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "=7235751501",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        -192
      ],
      "id": "8010c853-d928-4531-9582-d9a051bb2929",
      "name": "Send a text message",
      "webhookId": "REPLACE_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "UU90bbdEujE9aqJi",
          "name": "Finance Analyst Agent"
        }
      }
    },
    {
      "parameters": {
        "description": "=Call this tool to get technical analysis of a stock. Pass the FULL stock symbol including exchange prefix (e.g., 'NASDAQ:AAPL', 'NYSE:BRK', 'NSE:RELIANCE', 'NASDAQ:INFY'). Exchange rules: US tech stocks (Apple, Microsoft, Tesla) use NASDAQ, US traditional stocks use NYSE, Indian stocks use NSE. Infosys uses NASDAQ:INFY. Return the chart URL in markdown format: ![](url)",
        "workflowId": {
          "__rl": true,
          "value": "_R2VBRFlK6oZ0gN6P2087",
          "mode": "list",
          "cachedResultUrl": "/workflow/_R2VBRFlK6oZ0gN6P2087",
          "cachedResultName": "Get Chart"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        80,
        0
      ],
      "id": "2535921c-ed0e-4587-b856-8feeef5e8810",
      "name": "Get Chart"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        0
      ],
      "id": "e9aa6033-e6a3-4e06-b4e8-b06c800c1a54",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -240,
        0
      ],
      "id": "35441260-ff59-439b-a7ce-eccc8a7a8e3a",
      "name": "Brain",
      "credentials": {
        "openRouterApi": {
          "id": "H7Wdx6wCpCltG4OS",
          "name": "AK-OpenRouter"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chart": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "afac45c2-8db0-4c70-a800-43b8744f5bd6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3062000b9c19bf8a4e2c7741c0d61d36abd27f0e30312b580801e91dd6ae451"
  },
  "id": "Z6TP4n4rj3EdUKIrAmUYc",
  "tags": []
}