Gmail Inbox.json
{
  "name": "Gmail Inbox",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -960,
        0
      ],
      "id": "67114a2e-c92c-4735-85fd-1b41f6af9024",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.Subject }}\n\n{{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "High_priority",
              "description": "Mails which showcase urgency or require immediate action."
            },
            {
              "category": "Low_priority",
              "description": "Mails which can be replied to later as well."
            },
            {
              "category": "Misc",
              "description": "All the other emails which cannot be classified."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -736,
        -16
      ],
      "id": "082272e5-e284-4249-9b21-f77b6313b851",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -640,
        272
      ],
      "id": "c258390c-1413-40b5-b6da-6ef19bb252d4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tW5347fKpC9Ez5k2",
          "name": "AK-openai"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_3061845536066314925"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -368,
        -128
      ],
      "id": "9c79b82b-f636-4509-9099-0ef1b87272a8",
      "name": "Add label to message",
      "webhookId": "REPLACE_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject: {{ $json.Subject }}\n\nBody: {{ $json.snippet }}",
        "options": {
          "systemMessage": "=### Role\nYou are Anish's assistant, Bren.\n\n### Goal\nReply to the mails to receive by informing the prospect that Anish will be attending to the mail shortly.\n\n### Rules\n- Analyze the mail properly. \n- Understand the context.\n- Introduce yourself to the prospect.\n- Infor them that you have informed me and that I will reply shortly.\n\n### DO NOT\n- mention subject in the body. Just draft the body\n- Message not more than 300 characters."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -96,
        0
      ],
      "id": "d4283e3c-9a76-429c-8ea9-722759ca5ce2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "=Reply to {{ $('Gmail Trigger').item.json.From.split('<')[0].trim().split(' ')[0] }}\n",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        0
      ],
      "id": "7fcc882d-6285-4259-9582-652f7bbfcb31",
      "name": "Send a message",
      "webhookId": "REPLACE_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "98d81a7e-fab0-4962-a624-680ab23e99f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3062000b9c19bf8a4e2c7741c0d61d36abd27f0e30312b580801e91dd6ae451"
  },
  "id": "XLD4siIa-E0SBlQcUmj9c",
  "tags": []
}