Invoice Generation.json
{
  "name": "Invoice Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "4c317cab-01f4-415b-b427-4aa22bc32cba",
      "name": "Daily 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1824,
        256
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1b45MHY2MZLxskXqxHtPNVZ7ek2V5aVJaz9eXmrQ4rlQ",
          "mode": "list",
          "cachedResultName": "Invoice Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b45MHY2MZLxskXqxHtPNVZ7ek2V5aVJaz9eXmrQ4rlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1411586588,
          "mode": "list",
          "cachedResultName": "sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b45MHY2MZLxskXqxHtPNVZ7ek2V5aVJaz9eXmrQ4rlQ/edit#gid=1411586588"
        },
        "options": {}
      },
      "id": "734e180b-9b60-4619-ab90-9553c0db6d29",
      "name": "Read All Invoices",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1600,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst overdue = [];\n\nfor (const item of $input.all()) {\n  const row = item.json;\n\n  // Normalize Payment Status safely\n  const status = String(row['Payment Status'] || '')\n    .trim()\n    .toLowerCase();\n\n  // Only process Pending invoices\n  if (status !== 'pending') continue;\n\n  // Handle Due Date (skip if not present or invalid)\n  let isOverdue = false;\n  let dueDateFormatted = '';\n  let daysOverdue = 0;\n\n  if (row['Due Date']) {\n    const due = new Date(row['Due Date']);\n\n    if (!isNaN(due)) {\n      due.setHours(0, 0, 0, 0);\n\n      if (due < today) {\n        isOverdue = true;\n        daysOverdue = Math.floor((today - due) / (1000 * 60 * 60 * 24));\n\n        dueDateFormatted = due.toLocaleDateString('en-IN', {\n          day: 'numeric',\n          month: 'short',\n          year: 'numeric'\n        });\n      }\n    }\n  }\n\n  // Only push if actually overdue\n  if (!isOverdue) continue;\n\n  overdue.push({\n    json: {\n      InvoiceNumber: row['Invoice Number'] || '',\n      CompanyName: row['Company Name'] || '',\n      ClientName: row['Contact Person'] || '',\n      ClientEmail: row['Client Email'] || '',\n      TotalAmount: row['Total Amount'] || '',\n      DueDate: dueDateFormatted,\n      DaysOverdue: daysOverdue\n    }\n  });\n}\n\n// ✅ Final Output (clean + usable downstream)\nreturn [{\n  json: {\n    hasOverdue: overdue.length > 0,\n    count: overdue.length,\n    invoices: overdue.map(item => item.json)\n  }\n}];"
      },
      "id": "3b9f57ec-44c9-49a1-a7a2-d55227c71810",
      "name": "Filter Overdue Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.hasOverdue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f01b54c7-2e72-47d1-a80e-9204d11155bb",
      "name": "Has Overdue Invoices?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1152,
        256
      ]
    },
    {
      "parameters": {
        "sendTo": "=anishkorade@gmail.com",
        "subject": "=Payment Reminder: Invoice #{{ $json.InvoiceNumber }} is Overdue",
        "message": "=<p>Hi {{ $json.ClientName.split(' ')[0] || $json.ClientName }},</p><p>This is a friendly reminder that <b>Invoice #{{ $json.InvoiceNumber }}</b> for <b>{{ $json.TotalAmount }}</b> was due on <b>{{ $json.DueDate }}</b> and is now <b>{{ $json.DaysOverdue }} day(s) overdue</b>.</p><p>Kindly arrange the payment at the earliest to avoid any disruption to your services.</p><p>If you've already made the payment, please disregard this email.</p><p>Thank you,<br><b>Ivyside AI Private Limited</b><br>vaishnav@ivyside.in</p>",
        "options": {
          "appendAttribution": false,
          "senderName": "Ivyside AI"
        }
      },
      "id": "5b4dee10-8b66-401d-92a1-875c77a48cee",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -880,
        400
      ],
      "webhookId": "reminder-webhook-0001",
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1b45MHY2MZLxskXqxHtPNVZ7ek2V5aVJaz9eXmrQ4rlQ",
          "mode": "list",
          "cachedResultName": "Invoice Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b45MHY2MZLxskXqxHtPNVZ7ek2V5aVJaz9eXmrQ4rlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1766282338,
          "mode": "list",
          "cachedResultName": "Invoice Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b45MHY2MZLxskXqxHtPNVZ7ek2V5aVJaz9eXmrQ4rlQ/edit#gid=1766282338"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Payment Status"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1824,
        16
      ],
      "id": "aeacf864-6ae1-45e5-93f0-f55ac8bbf54a",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "NdvNCg6d0ZptJm1D",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b70b7101-f069-4116-9e94-ceb8128ded72",
              "name": "Date",
              "value": "={{ $json.Date }}",
              "type": "string"
            },
            {
              "id": "3e7340d5-c3a4-4df0-ad2e-8c4e1b4b24e2",
              "name": "Invoice Number",
              "value": "={{ $json['Invoice Number'] }}",
              "type": "number"
            },
            {
              "id": "86ea18cc-4ba3-4628-bfc0-df045a7ad863",
              "name": "Company Name",
              "value": "={{ $json['Company Name'] }}",
              "type": "string"
            },
            {
              "id": "5bbdb5d7-a566-4c85-818d-955c4385fcec",
              "name": "Contact Person",
              "value": "={{ $json['Contact Person'] }}",
              "type": "string"
            },
            {
              "id": "95f094ff-91a8-44b3-bacf-93b823566935",
              "name": "Total Amount",
              "value": "={{ $json['Total Amount'] }}",
              "type": "string"
            },
            {
              "id": "a69b6e6b-0f8c-40da-bef9-4b9611941fa7",
              "name": "View Invoice",
              "value": "={{ $json['View Invoice'] }}",
              "type": "string"
            },
            {
              "id": "5bcf2bb5-9208-4406-b0af-6036c261f4e0",
              "name": "Payment Status",
              "value": "={{ $json['Payment Status'] }}",
              "type": "string"
            },
            {
              "id": "0db9e41f-9e9f-4b0e-9778-278b400d5441",
              "name": "Client Email",
              "value": "={{ $json['Client Email'] }}",
              "type": "string"
            },
            {
              "id": "7aded038-14bc-4e44-9eee-eadfb5a6dd90",
              "name": "Client Address",
              "value": "={{ $json['Client Address'] }}",
              "type": "string"
            },
            {
              "id": "c8650bae-3574-48a6-b035-9a6f3f9a5f27",
              "name": "Client GST",
              "value": "={{ $json['Client GST'] }}",
              "type": "string"
            },
            {
              "id": "c272031a-7850-40e9-a0ab-02b03e21d149",
              "name": "Due Date",
              "value": "={{ $json['Due Date'] }}",
              "type": "string"
            },
            {
              "id": "d14be65b-2362-4138-8c60-aadd2a2188f5",
              "name": "Items List",
              "value": "={{ $json['Items List'] }}",
              "type": "string"
            },
            {
              "id": "53f9297d-88de-4531-a2cc-84f44040b7a2",
              "name": "Discount",
              "value": "={{ $json.Discount }}",
              "type": "string"
            },
            {
              "id": "9fcb1270-019a-4cb8-9f55-97a966ffd8bc",
              "name": "SGST",
              "value": "={{ $json.SGST }}",
              "type": "string"
            },
            {
              "id": "d4a8e518-b1ae-4853-9ffd-051333102524",
              "name": "CGST",
              "value": "={{ $json.CGST }}",
              "type": "string"
            },
            {
              "id": "ce701ad0-d7c5-456d-bad9-0ff902273d38",
              "name": "Payment Method",
              "value": "={{ $json['Payment Method'] }}",
              "type": "string"
            },
            {
              "id": "a67a4856-e026-4062-bf85-c5ed85c2a46a",
              "name": "Currency",
              "value": "={{ $json.Currency }}",
              "type": "string"
            },
            {
              "id": "8ff9b9d3-250a-4d55-b2b7-cfcc846a40d5",
              "name": "Submitted At",
              "value": "={{ $json['Submitted At'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1360,
        0
      ],
      "id": "b43dfaea-338f-40a3-8e17-492838f12a6b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Gotenberg-Output-Filename",
              "value": "=Invoice_{{ $json.InvoiceNumber }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "htmlFile"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "Invoice"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -976,
        0
      ],
      "id": "89d8cd59-0d4f-4fea-b600-25fb8b2685fc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Gotenberg-Output-Filename",
              "value": "Invoice"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "paperWidth",
              "value": "8.27"
            },
            {
              "name": "paperHeight",
              "value": "11.7"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "=Invoice_{{ $json.InvoiceNumber }}"
            }
          }
        }
      },
      "id": "5c81ac08-78fd-4fd5-b4f7-99fa2b2298df",
      "name": "AI PDF Generation1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1232,
        -288
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the form data\nconst formData = $('AI Invoice Form1').first().json;\n\n// Get the last invoice number from Google Sheets\nconst sheetData = $('Decide the Invoice Number1').all();\nlet lastInvoiceNo = 400;\nif (sheetData && sheetData.length > 0) {\n  const lastRow = sheetData[sheetData.length - 1].json;\n  if (lastRow['Invoice Number']) {\n    lastInvoiceNo = parseInt(lastRow['Invoice Number'], 10) || 400;\n  }\n}\n// Invoice + 1 logic\nconst nextId = lastInvoiceNo + 1;\n\nconst today = new Date().toLocaleDateString('en-IN', { day: 'numeric', month: 'short', year: 'numeric' });\n\n// ── Item Parser ──────────────────────────────────────────────────────────────\nfunction parseItems(rawText) {\n  const lines = rawText.split(/\\n/).map(l => l.trim()).filter(Boolean);\n  const items = [];\n\n  function parseSingleLine(line) {\n  if (!line) return null;\n\n  const parts = line.split(';').map(p => p.trim());\n\n  // New format: Product ; Quantity ; Price\n  if (parts.length === 3) {\n    return {\n      desc: parts[0],\n      qty: parseInt(parts[1]) || 1,\n      price: parseFloat(parts[2].replace(/[^\\d.]/g,'')) || 0\n    };\n  }\n\n  // Old format fallback: Product ; Price\n  if (parts.length === 2) {\n    return {\n      desc: parts[0],\n      qty: 1,\n      price: parseFloat(parts[1].replace(/[^\\d.]/g,'')) || 0\n    };\n  }\n\n  return { desc: line, qty: 1, price: 0 };\n}\n\n  for (const line of lines) {\n    const item = parseSingleLine(line);\n    if (item) items.push(item);\n  }\n  return items;\n}\n\n// ── Currency Formatter ───────────────────────────────────────────────────────\n// ── Currency Support ─────────────────────────────────────────────────────────\nconst currencyRaw = formData.currency || 'INR – Indian Rupee (₹)';\nlet currencySymbol = '₹';\nif (currencyRaw.startsWith('USD')) currencySymbol = '$';\nelse if (currencyRaw.startsWith('EUR')) currencySymbol = '€';\n\nfunction fmt(num) {\n  return currencySymbol + num.toFixed(2).replace(/\\B(?=(\\d{3})+(?!\\d))/g, ',');\n}\n\n// ── Parse Items & Calculate (GST Removed) ────────────────────────────────────\nconst items = parseItems(formData.itemsList || '');\nlet subtotal = 0;\nlet tableRowsHtml = '';\n\nfor (const item of items) {\n  const qty = Number(item.qty) || 0;\n  const price = Number(item.price) || 0;\n\n  const lineTotal = qty * price;\n  subtotal += lineTotal;\n\n  tableRowsHtml += `\n    <tr>\n      <td>${item.desc}</td>\n      <td>${fmt(price)}</td>\n      <td>${qty}</td>\n      <td style=\"text-align: right;\">${fmt(lineTotal)}</td>\n    </tr>`;\n}\n\nconst discount = parseFloat(formData.discount) || 0;\nconst grandTotal = subtotal - discount;\n\n// ── Format Due Date ───────────────────────────────────────────────────────────\nlet dueDate = formData.dueDate || '';\nif (dueDate) {\n  const d = new Date(dueDate);\n  if (!isNaN(d)) dueDate = d.toLocaleDateString('en-IN', { day: 'numeric', month: 'short', year: 'numeric' });\n}\n\n// ── Format Payment Details ───────────────────────────────────────────────────\nlet paymentDetailsHtml = '';\nconst pm = formData.paymentMethod || 'Razorpay';\n\nif (pm === 'Razorpay') {\n  paymentDetailsHtml = '<b>Payment Gateway: Razorpay</b><br>A secure payment link will be sent via email.';\n} else if (pm === 'UPI') {\n  paymentDetailsHtml = '<b>UPI Payment</b><br>UPI ID: vyapar.176885155532@hdfcbank<br>Name: IVYSIDE AI PRIVATE LIMITED';\n} else if (pm === 'Bank Transfer') {\n  paymentDetailsHtml = '<b>Bank Transfer</b><br>Bank Name: HDFC Bank<br>Account Name: Ivyside AI Private Limited<br>A/C No: 50200097686915<br>IFSC: HDFC0000829';\n} else {\n  paymentDetailsHtml = 'Card Payment Link will be provided securely.';\n}\n\n// ── Dynamic Footer Logic ──────────────────────────────────────────────────────\nconst status = formData.paymentStatus || 'Paid';\nlet footerMessage = '';\n\nif (status === 'Pending') {\n    footerMessage = '<b>Action Required:</b> Kindly complete the payment within 24 to 48 hours to initiate the services.';\n} else {\n    footerMessage = 'We have received your payment. We are excited to help your business scale!';\n}\n\n// ── HTML Template with New Top-Right Formatting and Removed Line ─────────────\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Invoice #${nextId} - Ivyside Ai</title>\n    <style>\n        :root { --text-main: #1a1a1a; --text-muted: #555555; --border-color: #e0e0e0; }\n        * { box-sizing: border-box; }\n        \n        body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; padding: 0; background-color: #fff; color: var(--text-main); line-height: 1.4; }\n        .invoice-container { max-width: 850px; margin: 0 auto; padding: 30px 50px; position: relative; }\n        \n        /* Flex header remains the same */\n        .header-section { display: flex; justify-content: space-between; align-items: start; margin-bottom: 20px; } /* more margin */\n        .logo-group { flex: 1; }\n        .logo-header { margin-bottom: 10px; }\n        .logo-img { height: 65px; width: auto; }\n        \n        .company-details { font-size: 13px; color: var(--text-muted); line-height: 1.5; }\n        \n        /* NEW LEFT-ALIGNED META BLOCK IN TOP RIGHT */\n        .meta-container-top { text-align: left; width: 195px; padding-top: 10px; display: block; }\n        .meta-title { font-weight: bold; margin-bottom: 10px; display: block; }\n        .meta-row { display: flex; margin-bottom: 5px; }\n        .meta-label { font-weight: bold; width: 95px; }\n        .meta-value { font-weight: normal; }\n        \n        /* HUGE INVOICE TITLE RISES UP (BUT NO LINE ABOVE) */\n        /* Removed border-top on invoice title as requested */\n        .invoice-title { font-size: 100px; font-weight: 900; margin: 20px 0 30px -5px; letter-spacing: -2px; color: #000; line-height: 1; } /* more space on top */\n        \n        .address-grid { display: grid; grid-template-columns: 1.2fr 1fr; gap: 30px; margin-bottom: 40px; }\n        .section-label { font-weight: 700; font-size: 16px; margin-bottom: 10px; display: block; }\n        .address-content { color: var(--text-muted); font-size: 14px; line-height: 1.5; }\n        \n        table { width: 100%; border-collapse: collapse; margin-bottom: 25px; }\n        th { text-align: left; padding: 10px 0; border-bottom: 1.5px solid #000; font-size: 16px; font-weight: 700; }\n        td { padding: 15px 0; border-bottom: 1px solid var(--border-color); font-size: 15px; }\n        \n        .totals-area { display: flex; flex-direction: column; align-items: flex-end; margin-top: 15px; }\n        .total-row { display: grid; grid-template-columns: 160px 120px; padding: 6px 0; font-size: 15px; }\n        .grand-total { margin-top: 10px; padding-top: 10px; border-top: 1px solid var(--border-color); font-weight: 800; font-size: 17px; }\n        \n        .signature-block { margin-top: 40px; text-align: right; font-size: 14px; font-weight: bold; color: var(--text-main); }\n        .auto-generated-text { font-size: 11px; font-weight: normal; color: var(--text-muted); display: block; margin-top: 5px; }\n        .footer-text { margin-top: 40px; padding-top: 15px; border-top: 1px solid var(--border-color); font-size: 13px; color: var(--text-muted); }\n        \n        @media print { \n            @page { margin: 0; }\n            body { -webkit-print-color-adjust: exact; } \n        }\n    </style>\n</head>\n<body>\n<div class=\"invoice-container\">\n    <div class=\"header-section\">\n        <div class=\"logo-group\">\n            <header class=\"logo-header\">\n                <img src=\"https://res.cloudinary.com/djsei2fln/image/upload/v1768991617/Ivyside-logo-full_vptrbe.svg\" alt=\"Ivyside Ai Logo\" class=\"logo-img\">\n            </header>\n            \n            <div class=\"company-details\">\n                <b>Ivyside AI Private Limited</b><br>\n                Shop No 3, Plot No C-30, Sector-20, Airoli, Thane-400708, Maharashtra<br>\n                CIN: U62020MH2026PTC465304<br>\n                Email: vaishnav@ivyside.in\n            </div>\n        </div>\n\n        <div class=\"meta-container-top\">\n            <span class=\"meta-title\">Invoice</span>\n            <div class=\"meta-row\"><span class=\"meta-label\">No.:</span><span class=\"meta-value\">${nextId}</span></div>\n            <div class=\"meta-row\"><span class=\"meta-label\">Date :</span><span class=\"meta-value\">${today}</span></div>\n            <div class=\"meta-row\"><span class=\"meta-label\">Due :</span><span class=\"meta-value\">${dueDate || '—'}</span></div>\n        </div>\n    </div>\n\n    <h1 class=\"invoice-title\">INVOICE</h1>\n    \n    <div class=\"address-grid\">\n        <div>\n            <span class=\"section-label\">Bill to :</span>\n            <div class=\"address-content\">\n                ${formData.companyName ? '<b>' + formData.companyName + '</b><br>' : ''}\n                ${formData.clientName || ''}<br>\n                ${formData.clientEmail || ''}<br>\n                ${(formData.clientAddress || '').replace(/\\n/g, '<br>')}<br>\n            </div>\n        </div>\n        <div>\n            <span class=\"section-label\">Payment Method :</span>\n            <div class=\"address-content\">\n                ${paymentDetailsHtml}\n            </div>\n        </div>\n    </div>\n    \n    <table>\n        <thead>\n            <tr>\n                <th style=\"width: 50%;\">Description</th>\n                <th>Price</th>\n                <th>Quantity</th>\n                <th style=\"text-align: right;\">SubTotal</th>\n            </tr>\n        </thead>\n        <tbody>${tableRowsHtml}</tbody>\n    </table>\n    \n    <div class=\"totals-area\">\n        <div class=\"total-row\"><b>Subtotal</b><span style=\"text-align: right;\">${fmt(subtotal)}</span></div>\n        <div class=\"total-row\"><b>Discount</b><span style=\"text-align: right;\">-${fmt(discount)}</span></div>\n        <div class=\"total-row grand-total\"><b>Total</b><span style=\"text-align: right;\">${fmt(grandTotal)}</span></div>\n    </div>\n\n    <div class=\"signature-block\">\n        For Ivyside AI Private Limited<br>\n        <span class=\"auto-generated-text\">This is a computer-generated document and does not require a physical signature.</span>\n    </div>\n\n    <footer class=\"footer-text\">${footerMessage}</footer>\n</div>\n</body>\n</html>`;\n\n// ── Pack output ───────────────────────────────────────────────────────────────\nconst company = formData.companyName || formData.clientName || 'Client';\nconst contact = formData.clientName || '';\nconst fileName = 'Invoice_' + nextId + '_' + company.replace(/\\s+/g, '_') + '.pdf';\nconst htmlBase64 = Buffer.from(html).toString('base64');\n\nreturn [{\n  json: {\n    Date: today,\n    InvoiceNumber: nextId,\n    ClientName: contact,\n    CompanyName: company,\n    TotalAmount: fmt(grandTotal),\n    clientEmail: formData.clientEmail || 'vaishnavj2124.work@gmail.com',\n    PaymentStatus: formData.paymentStatus || 'Paid',\n    DueDate: dueDate || '',\n    fileName\n  },\n  binary: {\n    data: {\n      data: htmlBase64,\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
      },
      "id": "3c89a002-01f7-41de-b458-1605678f09d2",
      "name": "Build Invoice HTML2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        -288
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1b45MHY2MZLxskXqxHtPNVZ7ek2V5aVJaz9eXmrQ4rlQ",
          "mode": "list",
          "cachedResultName": "Invoice Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b45MHY2MZLxskXqxHtPNVZ7ek2V5aVJaz9eXmrQ4rlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1766282338,
          "mode": "list",
          "cachedResultName": "Invoice Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b45MHY2MZLxskXqxHtPNVZ7ek2V5aVJaz9eXmrQ4rlQ/edit#gid=1766282338"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1616,
        -288
      ],
      "id": "18f1e800-376c-4313-86e9-87b9c0b3cbf1",
      "name": "Decide the Invoice Number1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "60eb9f83-f984-4e69-a6f6-172a66b4e36c",
              "leftValue": "={{ $json['Payment Status'] }}",
              "rightValue": "=Paid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1616,
        16
      ],
      "id": "15e6993d-6eff-4aac-a4c5-bfb29b4e7413",
      "name": "If"
    },
    {
      "parameters": {
        "inputDataFieldName": "=Invoice_{{ $json.InvoiceNumber }}",
        "name": "={{ $json.CompanyName }}'s Paid Invoice",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1TJf_uFEOY4o_eHUyGvbXeS0NlWx9kdkD",
          "mode": "list",
          "cachedResultName": "Generated Invoice",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1TJf_uFEOY4o_eHUyGvbXeS0NlWx9kdkD"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -688,
        0
      ],
      "id": "9dde84f9-a400-423a-b77e-69930e0ded37",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SX4mYn2wfx5iWYvU",
          "name": "AK-Drive Work"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=anish@ivyside.in,vaishnav@ivyside.in,{{$json.clientEmail}}",
        "subject": "=Your Invoice #{{ $json.InvoiceNumber }} from Ivyside AI",
        "message": "=<p>Hi {{ $json.ClientName.split(' ')[0] }},</p><p>Please find your invoice attached.</p><p>Thank you for choosing Ivyside AI!</p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=Invoice.pdf"
              }
            ]
          },
          "senderName": "Ivyside AI"
        }
      },
      "id": "a47eb187-d7e4-4ba2-80af-8e705a6fabbc",
      "name": "Mail PDF to User1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -688,
        192
      ],
      "webhookId": "42ea31b3-bbaf-4dc9-8774-18227d872387",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Q9P7z6vxruQ5K8J",
          "name": "AK-Gmail Work"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the form data from input\n// The input is passed directly as an array of items\nconst inputData = $input.first().json;\n\n// Use the Invoice Number from the input instead of generating a new one\nconst nextId = inputData['Invoice Number'] || 411;\n\n// Format the date (convert Excel serial number if needed)\nlet today;\nif (inputData.Date && !isNaN(parseInt(inputData.Date))) {\n  // Convert Excel serial date (46119) to proper date\n  const excelDate = parseInt(inputData.Date);\n  const date = new Date((excelDate - 25569) * 86400 * 1000);\n  today = date.toLocaleDateString('en-IN', { day: 'numeric', month: 'short', year: 'numeric' });\n} else {\n  today = new Date().toLocaleDateString('en-IN', { day: 'numeric', month: 'short', year: 'numeric' });\n}\n\n// ── Item Parser ──────────────────────────────────────────────────────────────\nfunction parseItems(rawText) {\n  if (!rawText) return [];\n  \n  const lines = rawText.split(/\\n/).map(l => l.trim()).filter(Boolean);\n  const items = [];\n\n  function parseSingleLine(line) {\n    if (!line) return null;\n\n    const parts = line.split(';').map(p => p.trim());\n\n    // New format: Product ; Quantity ; Price\n    if (parts.length === 3) {\n      return {\n        desc: parts[0],\n        qty: parseInt(parts[1]) || 1,\n        price: parseFloat(parts[2].replace(/[^\\d.]/g,'')) || 0\n      };\n    }\n\n    // Old format fallback: Product ; Price\n    if (parts.length === 2) {\n      return {\n        desc: parts[0],\n        qty: 1,\n        price: parseFloat(parts[1].replace(/[^\\d.]/g,'')) || 0\n      };\n    }\n\n    return { desc: line, qty: 1, price: 0 };\n  }\n\n  for (const line of lines) {\n    const item = parseSingleLine(line);\n    if (item) items.push(item);\n  }\n  return items;\n}\n\n// ── Currency Support ─────────────────────────────────────────────────────────\nconst currencyRaw = inputData.Currency || 'INR – Indian Rupee (₹)';\nlet currencySymbol = '₹';\nif (currencyRaw.startsWith('USD')) currencySymbol = '$';\nelse if (currencyRaw.startsWith('EUR')) currencySymbol = '€';\n\nfunction fmt(num) {\n  return currencySymbol + num.toFixed(2).replace(/\\B(?=(\\d{3})+(?!\\d))/g, ',');\n}\n\n// ── Parse Items & Calculate ────────────────────────────────────────────────────\nconst items = parseItems(inputData['Items List'] || '');\nlet subtotal = 0;\nlet tableRowsHtml = '';\n\nfor (const item of items) {\n  const qty = Number(item.qty) || 0;\n  const price = Number(item.price) || 0;\n\n  const lineTotal = qty * price;\n  subtotal += lineTotal;\n\n  tableRowsHtml += `\n    <tr>\n      <td>${item.desc}</td>\n      <td>${fmt(price)}</td>\n      <td>${qty}</td>\n      <td style=\"text-align: right;\">${fmt(lineTotal)}</td>\n    </tr>`;\n}\n\n// If no items provided, show a message\nif (tableRowsHtml === '') {\n  tableRowsHtml = `\n    <tr>\n      <td colspan=\"4\" style=\"text-align: center;\">No items provided</td>\n    </tr>`;\n}\n\nconst discount = parseFloat(inputData.Discount) || 0;\nconst sgst = parseFloat(inputData.SGST) || 0;\nconst cgst = parseFloat(inputData.CGST) || 0;\nconst sgstAmount = (subtotal - discount) * (sgst / 100);\nconst cgstAmount = (subtotal - discount) * (cgst / 100);\nconst grandTotal = (subtotal - discount) + sgstAmount + cgstAmount;\n\n// ── Format Due Date ───────────────────────────────────────────────────────────\nlet dueDate = inputData['Due Date'] || '';\nif (dueDate) {\n  const d = new Date(dueDate);\n  if (!isNaN(d)) dueDate = d.toLocaleDateString('en-IN', { day: 'numeric', month: 'short', year: 'numeric' });\n}\n\n// ── Format Payment Details ───────────────────────────────────────────────────\nlet paymentDetailsHtml = '';\nconst pm = inputData['Payment Method'] || 'Razorpay';\n\nif (pm === 'Razorpay') {\n  paymentDetailsHtml = '<b>Payment Gateway: Razorpay</b><br>A secure payment link will be sent via email.';\n} else if (pm === 'UPI') {\n  paymentDetailsHtml = '<b>UPI Payment</b><br>UPI ID: vyapar.176885155532@hdfcbank<br>Name: IVYSIDE AI PRIVATE LIMITED';\n} else if (pm === 'Bank Transfer') {\n  paymentDetailsHtml = '<b>Bank Transfer</b><br>Bank Name: HDFC Bank<br>Account Name: Ivyside AI Private Limited<br>A/C No: 50200097686915<br>IFSC: HDFC0000829';\n} else {\n  paymentDetailsHtml = 'Card Payment Link will be provided securely.';\n}\n\n// ── Dynamic Footer Logic ──────────────────────────────────────────────────────\nconst status = inputData['Payment Status'] || 'Paid';\nlet footerMessage = '';\n\nif (status === 'Pending') {\n    footerMessage = '<b>Action Required:</b> Kindly complete the payment within 24 to 48 hours to initiate the services.';\n} else {\n    footerMessage = 'We have received your payment. We are excited to help your business scale!';\n}\n\n// ── HTML Template ─────────────────────────────────────────────────────────────\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Invoice #${nextId} - Ivyside Ai</title>\n    <style>\n        :root { --text-main: #1a1a1a; --text-muted: #555555; --border-color: #e0e0e0; }\n        * { box-sizing: border-box; }\n        \n        body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; padding: 0; background-color: #fff; color: var(--text-main); line-height: 1.4; }\n        .invoice-container { max-width: 850px; margin: 0 auto; padding: 30px 50px; position: relative; }\n        \n        .header-section { display: flex; justify-content: space-between; align-items: start; margin-bottom: 20px; }\n        .logo-group { flex: 1; }\n        .logo-header { margin-bottom: 10px; }\n        .logo-img { height: 65px; width: auto; }\n        \n        .company-details { font-size: 13px; color: var(--text-muted); line-height: 1.5; }\n        \n        .meta-container-top { text-align: left; width: 195px; padding-top: 10px; display: block; }\n        .meta-title { font-weight: bold; margin-bottom: 10px; display: block; }\n        .meta-row { display: flex; margin-bottom: 5px; }\n        .meta-label { font-weight: bold; width: 95px; }\n        .meta-value { font-weight: normal; }\n        \n        .invoice-title { font-size: 100px; font-weight: 900; margin: 20px 0 30px -5px; letter-spacing: -2px; color: #000; line-height: 1; }\n        \n        .address-grid { display: grid; grid-template-columns: 1.2fr 1fr; gap: 30px; margin-bottom: 40px; }\n        .section-label { font-weight: 700; font-size: 16px; margin-bottom: 10px; display: block; }\n        .address-content { color: var(--text-muted); font-size: 14px; line-height: 1.5; }\n        \n        table { width: 100%; border-collapse: collapse; margin-bottom: 25px; }\n        th { text-align: left; padding: 10px 0; border-bottom: 1.5px solid #000; font-size: 16px; font-weight: 700; }\n        td { padding: 15px 0; border-bottom: 1px solid var(--border-color); font-size: 15px; }\n        \n        .totals-area { display: flex; flex-direction: column; align-items: flex-end; margin-top: 15px; }\n        .total-row { display: grid; grid-template-columns: 160px 120px; padding: 6px 0; font-size: 15px; }\n        .grand-total { margin-top: 10px; padding-top: 10px; border-top: 1px solid var(--border-color); font-weight: 800; font-size: 17px; }\n        \n        .signature-block { margin-top: 40px; text-align: right; font-size: 14px; font-weight: bold; color: var(--text-main); }\n        .auto-generated-text { font-size: 11px; font-weight: normal; color: var(--text-muted); display: block; margin-top: 5px; }\n        .footer-text { margin-top: 40px; padding-top: 15px; border-top: 1px solid var(--border-color); font-size: 13px; color: var(--text-muted); }\n        \n        @media print { \n            @page { margin: 0; }\n            body { -webkit-print-color-adjust: exact; } \n        }\n    </style>\n</head>\n<body>\n<div class=\"invoice-container\">\n    <div class=\"header-section\">\n        <div class=\"logo-group\">\n            <header class=\"logo-header\">\n                <img src=\"https://res.cloudinary.com/djsei2fln/image/upload/v1768991617/Ivyside-logo-full_vptrbe.svg\" alt=\"Ivyside Ai Logo\" class=\"logo-img\">\n            </header>\n            \n            <div class=\"company-details\">\n                <b>Ivyside AI Private Limited</b><br>\n                Shop No 3, Plot No C-30, Sector-20, Airoli, Thane-400708, Maharashtra<br>\n                CIN: U62020MH2026PTC465304<br>\n                Email: vaishnav@ivyside.in\n            </div>\n        </div>\n\n        <div class=\"meta-container-top\">\n            <span class=\"meta-title\">Invoice</span>\n            <div class=\"meta-row\"><span class=\"meta-label\">No.:</span><span class=\"meta-value\">${nextId}</span></div>\n            <div class=\"meta-row\"><span class=\"meta-label\">Date :</span><span class=\"meta-value\">${today}</span></div>\n            <div class=\"meta-row\"><span class=\"meta-label\">Due :</span><span class=\"meta-value\">${dueDate || '—'}</span></div>\n        </div>\n    </div>\n\n    <h1 class=\"invoice-title\">INVOICE</h1>\n    \n    <div class=\"address-grid\">\n        <div>\n            <span class=\"section-label\">Bill to :</span>\n            <div class=\"address-content\">\n                ${inputData['Company Name'] ? '<b>' + inputData['Company Name'] + '</b><br>' : ''}\n                ${inputData['Contact Person'] || ''}<br>\n                ${inputData['Client Email'] || ''}<br>\n                ${(inputData['Client Address'] || '').replace(/\\n/g, '<br>')}<br>\n                ${inputData['Client GST'] ? 'GST: ' + inputData['Client GST'] : ''}\n            </div>\n        </div>\n        <div>\n            <span class=\"section-label\">Payment Method :</span>\n            <div class=\"address-content\">\n                ${paymentDetailsHtml}\n            </div>\n        </div>\n    </div>\n    \n    <table>\n        <thead>\n            <tr>\n                <th style=\"width: 50%;\">Description</th>\n                <th>Price</th>\n                <th>Quantity</th>\n                <th style=\"text-align: right;\">SubTotal</th>\n            </tr>\n        </thead>\n        <tbody>${tableRowsHtml}</tbody>\n    </table>\n    \n    <div class=\"totals-area\">\n        <div class=\"total-row\"><b>Subtotal</b><span style=\"text-align: right;\">${fmt(subtotal)}</span></div>\n        ${discount > 0 ? `<div class=\"total-row\"><b>Discount</b><span style=\"text-align: right;\">-${fmt(discount)}</span></div>` : ''}\n        ${sgst > 0 ? `<div class=\"total-row\"><b>SGST (${sgst}%)</b><span style=\"text-align: right;\">${fmt(sgstAmount)}</span></div>` : ''}\n        ${cgst > 0 ? `<div class=\"total-row\"><b>CGST (${cgst}%)</b><span style=\"text-align: right;\">${fmt(cgstAmount)}</span></div>` : ''}\n        <div class=\"total-row grand-total\"><b>Total</b><span style=\"text-align: right;\">${fmt(grandTotal)}</span></div>\n    </div>\n\n    <div class=\"signature-block\">\n        For Ivyside AI Private Limited<br>\n        <span class=\"auto-generated-text\">This is a computer-generated document and does not require a physical signature.</span>\n    </div>\n\n    <footer class=\"footer-text\">${footerMessage}</footer>\n</div>\n</body>\n</html>`;\n\n// ── Pack output ───────────────────────────────────────────────────────────────\nconst company = inputData['Company Name'] || inputData['Contact Person'] || 'Client';\nconst contact = inputData['Contact Person'] || '';\nconst fileName = 'Invoice_' + nextId + '_' + company.replace(/\\s+/g, '_') + '.pdf';\nconst htmlBase64 = Buffer.from(html).toString('base64');\n\nreturn [{\n  json: {\n    Date: today,\n    InvoiceNumber: nextId,\n    ClientName: contact,\n    CompanyName: company,\n    TotalAmount: fmt(grandTotal),\n    clientEmail: inputData['Client Email'] || 'vaishnavj2124.work@gmail.com',\n    PaymentStatus: inputData['Payment Status'] || 'Paid',\n    DueDate: dueDate || '',\n    fileName\n  },\n  binary: {\n    htmlFile: {\n      data: htmlBase64,\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
      },
      "id": "1946407b-f506-475d-9317-93d180f2d56d",
      "name": "Build Invoice HTML1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        0
      ]
    },
    {
      "parameters": {
        "formTitle": "Generate Invoice",
        "formDescription": "Fill out these details. The workflow will automatically inject them into the Ivyside HTML template and mail you the PDF.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Bill To : Company Name",
              "fieldName": "companyName",
              "requiredField": true
            },
            {
              "fieldLabel": "Bill To : Contact Person Name",
              "fieldName": "clientName",
              "requiredField": true
            },
            {
              "fieldLabel": "Bill To : Client Email",
              "fieldType": "email",
              "fieldName": "clientEmail"
            },
            {
              "fieldLabel": "Bill To : Full Address",
              "fieldType": "textarea",
              "fieldName": "clientAddress"
            },
            {
              "fieldLabel": "Bill To : GST Number",
              "fieldName": "clientGST"
            },
            {
              "fieldLabel": "Due Date",
              "fieldType": "date",
              "fieldName": "dueDate"
            },
            {
              "fieldLabel": "Items (Strict Format: Product Name ; Quantity ; Price)\nExample:\nAI Automation ; 2 ; 30000\nWebsite Dev ; 1 ; 15000",
              "fieldType": "textarea",
              "fieldName": "itemsList",
              "requiredField": true
            },
            {
              "fieldLabel": "Discount Value (₹ or $)",
              "fieldType": "number",
              "fieldName": "discount"
            },
            {
              "fieldLabel": "SGST %",
              "fieldType": "number",
              "fieldName": "sgst"
            },
            {
              "fieldLabel": "CGST %",
              "fieldType": "number",
              "fieldName": "cgst"
            },
            {
              "fieldLabel": "Payment Method",
              "fieldType": "dropdown",
              "fieldName": "paymentMethod",
              "defaultValue": "Razorpay",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Razorpay"
                  },
                  {
                    "option": "UPI"
                  },
                  {
                    "option": "Card"
                  },
                  {
                    "option": "Bank Transfer"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Currency",
              "fieldType": "dropdown",
              "fieldName": "currency",
              "defaultValue": "INR",
              "fieldOptions": {
                "values": [
                  {
                    "option": "INR – Indian Rupee (₹)"
                  },
                  {
                    "option": "USD – US Dollar ($)"
                  },
                  {
                    "option": "EUR – Euro (€)"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Payment Status",
              "fieldType": "dropdown",
              "fieldName": "paymentStatus",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Paid"
                  },
                  {
                    "option": "Pending"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Generate & Email PDF",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Your invoice is being generated and will be emailed to you shortly!"
            }
          }
        }
      },
      "id": "9c3f75f1-9077-4b81-9a8b-488461597ff3",
      "name": "AI Invoice Form1",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1792,
        -288
      ],
      "webhookId": "e27d8e13-62e8-4cf1-969a-d1c204f00f83"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1b45MHY2MZLxskXqxHtPNVZ7ek2V5aVJaz9eXmrQ4rlQ",
          "cachedResultName": "Invoice Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b45MHY2MZLxskXqxHtPNVZ7ek2V5aVJaz9eXmrQ4rlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1766282338,
          "mode": "list",
          "cachedResultName": "Invoice Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b45MHY2MZLxskXqxHtPNVZ7ek2V5aVJaz9eXmrQ4rlQ/edit#gid=1766282338"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('AI PDF Generation1').item.json.Date }}",
            "Invoice Number": "={{ $('AI PDF Generation1').item.json.InvoiceNumber }}",
            "Company Name": "={{ $('AI PDF Generation1').item.json.CompanyName }}",
            "Contact Person": "={{ $('AI PDF Generation1').item.json.ClientName }}",
            "Total Amount": "={{ $('AI PDF Generation1').item.json.TotalAmount }}",
            "View Invoice": "==HYPERLINK(\"{{ $json.webViewLink }}\", \"Invoice PDF\")",
            "Payment Status": "={{ $('AI PDF Generation1').item.json.PaymentStatus }}",
            "Client Email": "={{ $('AI PDF Generation1').item.json.clientEmail }}",
            "Client Address": "={{ $('AI Invoice Form1').item.json.clientAddress }}",
            "Client GST": "={{ $('AI Invoice Form1').item.json.clientGST }}",
            "Due Date": "={{ $('AI Invoice Form1').item.json.dueDate }}",
            "Items List": "={{ $('AI Invoice Form1').item.json.itemsList }}",
            "Discount": "={{ $('AI Invoice Form1').item.json.discount }}",
            "SGST": "={{ $('AI Invoice Form1').item.json.sgst }}",
            "CGST": "={{ $('AI Invoice Form1').item.json.cgst }}",
            "Payment Method": "={{ $('AI Invoice Form1').item.json.paymentMethod }}",
            "Currency": "={{ $('AI Invoice Form1').item.json.currency }}",
            "Submitted At": "={{ $('AI Invoice Form1').item.json.submittedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Person",
              "displayName": "Contact Person",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "View Invoice",
              "displayName": "View Invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Status",
              "displayName": "Payment Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client GST",
              "displayName": "Client GST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Items List",
              "displayName": "Items List",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Discount",
              "displayName": "Discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SGST",
              "displayName": "SGST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CGST",
              "displayName": "CGST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Method",
              "displayName": "Payment Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submitted At",
              "displayName": "Submitted At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1fc7517b-0c76-4edb-afdd-2e8fda7a5839",
      "name": "Log Invoice1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -864,
        -432
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=Invoice_{{ $json.InvoiceNumber }}",
        "name": "={{ $('Build Invoice HTML2').item.json.CompanyName }}'s Invoice",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1TJf_uFEOY4o_eHUyGvbXeS0NlWx9kdkD",
          "mode": "list",
          "cachedResultName": "Generated Invoice",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1TJf_uFEOY4o_eHUyGvbXeS0NlWx9kdkD"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1056,
        -432
      ],
      "id": "eeb1bb25-3332-4a53-a65d-c8b0819e77a1",
      "name": "Upload file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SX4mYn2wfx5iWYvU",
          "name": "AK-Drive Work"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=anish@ivyside.in,vaishnav@ivyside.in,{{$json.clientEmail}}",
        "subject": "=Your Invoice #{{ $json.InvoiceNumber }} from Ivyside AI",
        "message": "=<p>Hi {{ $json.ClientName.split(' ')[0] }},</p><p>Please find your invoice attached.</p><p>Thank you for choosing Ivyside AI!</p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=Invoice.pdf"
              }
            ]
          },
          "senderName": "Ivyside AI"
        }
      },
      "id": "294d0067-3ed9-4bab-88d3-335c0ca24b17",
      "name": "Mail PDF to User2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1040,
        -176
      ],
      "webhookId": "42ea31b3-bbaf-4dc9-8774-18227d872387",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Q9P7z6vxruQ5K8J",
          "name": "AK-Gmail Work"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 9AM Trigger": {
      "main": [
        [
          {
            "node": "Read All Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Invoices": {
      "main": [
        [
          {
            "node": "Filter Overdue Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Overdue Pending": {
      "main": [
        [
          {
            "node": "Has Overdue Invoices?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Overdue Invoices?": {
      "main": [
        [],
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Build Invoice HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mail PDF to User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI PDF Generation1": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mail PDF to User2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Invoice HTML2": {
      "main": [
        [
          {
            "node": "AI PDF Generation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide the Invoice Number1": {
      "main": [
        [
          {
            "node": "Build Invoice HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Invoice HTML1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Invoice Form1": {
      "main": [
        [
          {
            "node": "Decide the Invoice Number1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "node": "Log Invoice1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "78b595fd-3da0-4dab-80cd-f8e04f2e5bab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3062000b9c19bf8a4e2c7741c0d61d36abd27f0e30312b580801e91dd6ae451"
  },
  "id": "wOoF4OUaaxSzw8Pv",
  "tags": []
}