Lead Gen + Personalized Emails.json
{
  "name": "Google Maps Lead Gen",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate Leads",
        "formFields": {
          "values": [
            {
              "fieldName": "Category",
              "fieldLabel": "What is your search item?",
              "placeholder": "Real Estate",
              "requiredField": true
            },
            {
              "fieldName": "Location",
              "fieldLabel": "What Country/City are you looking for?",
              "placeholder": "United states",
              "requiredField": true
            },
            {
              "fieldName": "Total Data Points",
              "fieldLabel": "How many items to scrape?",
              "fieldType": "number",
              "placeholder": "For ex. 10",
              "defaultValue": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -896,
        80
      ],
      "id": "8342d60e-41a9-49fb-820a-49653acf211a",
      "name": "On form submission",
      "webhookId": "a9599dc0-3dce-4695-877e-b8f63846c471"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/compass~crawler-google-places/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_APIFY_API_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n{\n  \"includeWebResults\": false,\n  \"language\": \"en\",\n  \"locationQuery\": \"{{ $json.Location }}\",\n  \"maxCrawledPlacesPerSearch\": {{ $json['Total Data Points'] }},\n  \"scrapeContacts\": false,\n  \"scrapeDirectories\": false,\n  \"scrapeImageAuthors\": false,\n  \"scrapePlaceDetailPage\": false,\n  \"scrapeReviewsPersonalData\": true,\n  \"scrapeTableReservationProvider\": false,\n  \"searchStringsArray\": [\n    \"{{ $json.Category }}\"\n  ],\n  \"skipClosedPlaces\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -720,
        80
      ],
      "id": "9896a73f-e15b-4a99-99d0-f05cbcc27325",
      "name": "Scrape Maps"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1asUSAB5PfTb9v6EoYxsLjCVWD6UjDpq3Jdlvm4jWmH4",
          "mode": "list",
          "cachedResultName": "Google Maps Scrapper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1asUSAB5PfTb9v6EoYxsLjCVWD6UjDpq3Jdlvm4jWmH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1asUSAB5PfTb9v6EoYxsLjCVWD6UjDpq3Jdlvm4jWmH4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        80
      ],
      "id": "3bb0f610-a0e9-457f-a47f-d08b35e39b0a",
      "name": "Get Saved Leads",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cc4ecc7e-d7fd-4d8e-92e9-e7b193fe5262",
              "leftValue": "={{ $json.totalScore }}",
              "rightValue": 3.5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -224,
        80
      ],
      "id": "2c6b9850-5143-4e13-9538-14a54689e800",
      "name": "Filter Reviews"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1asUSAB5PfTb9v6EoYxsLjCVWD6UjDpq3Jdlvm4jWmH4",
          "mode": "list",
          "cachedResultName": "Google Maps Scrapper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1asUSAB5PfTb9v6EoYxsLjCVWD6UjDpq3Jdlvm4jWmH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1asUSAB5PfTb9v6EoYxsLjCVWD6UjDpq3Jdlvm4jWmH4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        80
      ],
      "id": "986f435d-a9bb-4fc4-944c-574be5693c55",
      "name": "Get New Leads",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a4f6b397-ca25-4d19-8916-c7eedbc9387c",
              "leftValue": "={{ $json.Website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        304,
        80
      ],
      "id": "cd9147a0-c832-4f64-928f-af56f0c8e987",
      "name": "Filter Website"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        80
      ],
      "id": "97e5c9d5-417a-4ed9-956b-375f86af004b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.data?.markdown || \"\";\n\n// -------- EMAILS --------\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-z]{2,}/gi;\nconst emails = [...new Set(text.match(emailRegex) || [])];\n\n// -------- SOCIAL REGEX --------\nconst socialRegexes = {\n  facebook: /https?:\\/\\/(www\\.)?facebook\\.com\\/[^\\s)\"]+/gi,\n  instagram: /https?:\\/\\/(www\\.)?instagram\\.com\\/[^\\s)\"]+/gi,\n  linkedin: /https?:\\/\\/(www\\.)?linkedin\\.com\\/[^\\s)\"]+/gi,\n  x: /https?:\\/\\/(www\\.)?(twitter\\.com|x\\.com)\\/[^\\s)\"]+/gi,\n  tiktok: /https?:\\/\\/(www\\.)?tiktok\\.com\\/[^\\s)\"]+/gi,\n  youtube: /https?:\\/\\/(www\\.)?(youtube\\.com|youtu\\.be)\\/[^\\s)\"]+/gi,\n};\n\n// -------- EXTRACT SOCIALS --------\nconst socials = {};\n\nfor (const [name, regex] of Object.entries(socialRegexes)) {\n  const matches = [...text.matchAll(regex)];\n\n  if (matches.length > 0) {\n    const urls = matches\n      .map(m => m[0].trim().replace(/[)\\]>,\"']+$/, '')) // clean junk chars\n      .filter((url, i, self) => self.indexOf(url) === i); // dedupe\n\n    socials[name] = urls.join(', ');\n  } else {\n    socials[name] = 'Not found';\n  }\n}\n\n// -------- FINAL OUTPUT --------\nconst output = {\n  email: emails.length > 0 ? emails.join(', ') : 'Not found',\n  facebook: socials.facebook,\n  instagram: socials.instagram,\n  linkedin: socials.linkedin,\n  x: socials.x,\n  tiktok: socials.tiktok,\n  youtube: socials.youtube,\n};\n\nreturn [{ json: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        80
      ],
      "id": "0fa1b592-a80f-40ac-b7f8-3a1d94a96807",
      "name": "Extract Info"
    },
    {
      "parameters": {
        "jsCode": "// Generate a random delay between 1 and 5 \n// seconds (including decimals)\nconst min = 1;  // minimum seconds\nconst max = 5;  // maximum seconds\n\n// Create random decimal delay, e.g. 1.7 or\n// 4.3 seconds\nconst delaySeconds = (Math.random() * (max - \nmin) + min).toFixed(1);\n\n// Pass to the next node\nreturn [{ delaySeconds }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        80
      ],
      "id": "eb49aa0b-b234-44ed-a8bd-3babaf372d9b",
      "name": "Random Delay"
    },
    {
      "parameters": {
        "amount": "={{ $json.delaySeconds }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        80
      ],
      "id": "73206f84-9643-4f0f-8348-1135e1b016cc",
      "name": "Wait",
      "webhookId": "81108329-f641-4594-98d0-5094d70b5787"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        -112
      ],
      "id": "8f32847e-f0df-46a8-a0a6-75406f74ddc2",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "const newData = $('Scrape Maps').all();\nconst existing = $('Get Saved Leads').all();\n\n// Normalize helpers\nconst normalizePhone = (phone) => {\n  if (!phone) return '';\n  return phone.replace(/\\D/g, '');\n};\n\nconst normalizeWebsite = (url) => {\n  if (!url) return '';\n  return url\n    .toLowerCase()\n    .replace(/^https?:\\/\\//, '')\n    .replace(/^www\\./, '')\n    .replace(/\\/$/, '')\n    .trim();\n};\n\n// Existing sets\nconst existingPhones = new Set(\n  existing.map(e => normalizePhone(e.json.Phone)).filter(Boolean)\n);\n\nconst existingWebsites = new Set(\n  existing.map(e => normalizeWebsite(e.json.Website)).filter(Boolean)\n);\n\n// Filter logic\nconst filtered = newData.filter(item => {\n  const phone = normalizePhone(item.json.phoneUnformatted || item.json.phone);\n  const website = normalizeWebsite(item.json.website);\n\n  // ❌ Skip if BOTH identifiers missing\n  if (!phone && !website) return false;\n\n  // ❌ Skip if duplicate by either\n  if (\n    (phone && existingPhones.has(phone)) ||\n    (website && existingWebsites.has(website))\n  ) {\n    return false;\n  }\n\n  // Prevent duplicates within same batch\n  if (phone) existingPhones.add(phone);\n  if (website) existingWebsites.add(website);\n\n  return true;\n});\n\nreturn filtered;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        80
      ],
      "id": "b0c39b80-784a-439c-8c08-5e717114c30c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1asUSAB5PfTb9v6EoYxsLjCVWD6UjDpq3Jdlvm4jWmH4",
          "mode": "list",
          "cachedResultName": "Google Maps Scrapper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1asUSAB5PfTb9v6EoYxsLjCVWD6UjDpq3Jdlvm4jWmH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1asUSAB5PfTb9v6EoYxsLjCVWD6UjDpq3Jdlvm4jWmH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Category": "={{ $json.categoryName }}",
            "Ratings": "={{ $json.totalScore }}",
            "Street": "={{ $json.street }}",
            "City": "={{ $json.city }}",
            "State": "={{ $json.state }}",
            "Website": "={{ $json.website }}",
            "Phone": "='{{ $json.phoneUnformatted }}",
            "Review Count": "={{ $json.reviewsCount }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ratings",
              "displayName": "Ratings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Street",
              "displayName": "Street",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review Count",
              "displayName": "Review Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        80
      ],
      "id": "75744d40-0988-4baf-a013-992a9ea5db6c",
      "name": "Add New Leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "scrape",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        656,
        80
      ],
      "id": "7230003f-28e6-4d8d-885b-477a1c984757",
      "name": "Scrape a URL and get content as markdown or other formats",
      "credentials": {
        "firecrawlApi": {
          "id": "nvxkfNVF4JNHlEou",
          "name": "AK-Firecrawl"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1asUSAB5PfTb9v6EoYxsLjCVWD6UjDpq3Jdlvm4jWmH4",
          "mode": "list",
          "cachedResultName": "Google Maps Scrapper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1asUSAB5PfTb9v6EoYxsLjCVWD6UjDpq3Jdlvm4jWmH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1asUSAB5PfTb9v6EoYxsLjCVWD6UjDpq3Jdlvm4jWmH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Website": "={{ $('Loop Over Items').item.json.Website }}",
            "row_number": 0,
            "Email": "={{ $('Extract Info').item.json.email }}",
            "Facebook": "={{ $('Extract Info').item.json.facebook }}",
            "Instagram": "={{ $('Extract Info').item.json.instagram }}",
            "Linkedin": "={{ $('Extract Info').item.json.linkedin }}",
            "Youtube": "={{ $('Extract Info').item.json.youtube }}"
          },
          "matchingColumns": [
            "Website"
          ],
          "schema": [
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ratings",
              "displayName": "Ratings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Street",
              "displayName": "Street",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Review Count",
              "displayName": "Review Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website Markdown",
              "displayName": "Website Markdown",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        80
      ],
      "id": "14469284-5a4b-4317-92f5-65fb96453c2a",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1asUSAB5PfTb9v6EoYxsLjCVWD6UjDpq3Jdlvm4jWmH4",
          "mode": "list",
          "cachedResultName": "Google Maps Scrapper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1asUSAB5PfTb9v6EoYxsLjCVWD6UjDpq3Jdlvm4jWmH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1asUSAB5PfTb9v6EoYxsLjCVWD6UjDpq3Jdlvm4jWmH4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "=processed ",
            "Website": "={{ $('Loop Over Items').item.json.Website }}",
            "Message": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Website"
          ],
          "schema": [
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ratings",
              "displayName": "Ratings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Street",
              "displayName": "Street",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Review Count",
              "displayName": "Review Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1488,
        -128
      ],
      "id": "5648d85d-54f7-413a-bf22-9c994fd8581e",
      "name": "Update processed status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $json.Website }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        880,
        -160
      ],
      "id": "704feaac-cc0a-4fbf-be69-40bdde3a72da",
      "name": "Scrape a URL and get content as markdown or other formats1",
      "credentials": {
        "firecrawlApi": {
          "id": "nvxkfNVF4JNHlEou",
          "name": "AK-Firecrawl"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### Business Details are as follows:\n\n{{ $json.data.markdown }}",
        "options": {
          "systemMessage": "=## Role:\nYou generate a sales mail to prospect. You analyze their business, identify potential gaps in the current operations, and look for opportuinities to fit Ai automations to help the businesses.\n\n## Task:\nWrite an humanized email and highly personalized it for the prospect's business.\n\n## Email Style Rules\n1. **Tone & Voice**\n\nWrite like a smart, confident human — conversational, direct, and slightly witty. Never formal or corporate.\nUse plain English. No buzzwords, no jargon, no feature lists.\nOne well-placed joke or self-aware line is allowed, but it must feel natural, not forced. Never more than one.\n\n2. **Structure**\n\nOpen with a specific, researched observation about the recipient's company or role. Show you looked them up.\nFollow immediately with a relatable pain point. Name the frustration in vivid, human terms — not abstract business language.\nBriefly introduce yourself and what you do in two sentences maximum.\nEnd with a single, low-friction CTA. A \"5 minute chat\" — not a demo, not a proposal.\n\n3. **Personalization**\n\nEvery email must reference something specific about the recipient (company name, market, role, or a recent signal). Generic openers are not allowed.\nThe pain point must feel tailored to their industry or job function, not copy-pasted from a template.\n\n4. **Length**\n\nNo more than 150 words. Every sentence must earn its place.\nNo bullet points, no bold headers, no formatting inside the email body. It must read like a human wrote it in five minutes.\n\n5. **What to Avoid**\n\nNo corporate phrases: \"I wanted to reach out\", \"hope this finds you well\", \"synergy\", \"leverage\", \"seamless.\"\nNo feature dumping. The email is about their problem, not your product.\nNo aggressive or pushy CTAs. Never ask for a commitment, a decision, or a long meeting.\nDo not sound like a mass email even if it is one.\n\n## Output:\nOnly English language email body and nothing else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        -240
      ],
      "id": "15dcafa9-67d4-4a04-8954-237c337102e6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1088,
        -96
      ],
      "id": "d3328a1b-efb0-4369-8b7f-dce043f98a27",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "H7Wdx6wCpCltG4OS",
          "name": "AK-OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "anishkorade@gmail.com",
        "subject": "=🔔 ",
        "message": "=Scrapping {{ $('On form submission').first().json.Category }} leads in \n{{ $('On form submission').first().json.Location }} is complete.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        864,
        -432
      ],
      "id": "1b9b4c6e-d1f5-4758-8a00-0643e961d79d",
      "name": "Send a message",
      "webhookId": "5fc690b8-0e7e-4e19-a573-e385b6823c8b",
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Scrape Maps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Maps": {
      "main": [
        [
          {
            "node": "Get Saved Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Saved Leads": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Reviews": {
      "main": [
        [
          {
            "node": "Add New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Leads": {
      "main": [
        [
          {
            "node": "Filter Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Website": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape a URL and get content as markdown or other formats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Info": {
      "main": [
        [
          {
            "node": "Random Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Delay": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape a URL and get content as markdown or other formats1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Filter Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New Leads": {
      "main": [
        [
          {
            "node": "Get New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape a URL and get content as markdown or other formats": {
      "main": [
        [
          {
            "node": "Extract Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update processed status": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape a URL and get content as markdown or other formats1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update processed status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e6c99dae-df07-4d0d-96b7-fa24d06896d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3062000b9c19bf8a4e2c7741c0d61d36abd27f0e30312b580801e91dd6ae451"
  },
  "id": "aFtDzVc88Li_9jAG0PfGj",
  "tags": []
}