New Lead System.json
{
  "name": "New Lead System",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Contact me",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Service",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "AI automation"
                  },
                  {
                    "option": "Website"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Budget (in $)",
              "fieldType": "number",
              "placeholder": "starting from $10",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1120,
        96
      ],
      "id": "cf1731cf-8ca2-4d48-ab1c-7e912bc86593",
      "name": "On form submission",
      "webhookId": "REPLACE_WEBHOOK_ID"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Fb6Ennf9-8_cW_0NzTVMTXui_1gijJAEgGy6H6Oazgs",
          "mode": "list",
          "cachedResultName": "n8n new leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fb6Ennf9-8_cW_0NzTVMTXui_1gijJAEgGy6H6Oazgs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "All",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fb6Ennf9-8_cW_0NzTVMTXui_1gijJAEgGy6H6Oazgs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Servide": "={{ $json.Service }}",
            "Budget": "={{ $json['Budget (in $)'] }}",
            "Date": "={{ $json.submittedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Servide",
              "displayName": "Servide",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qualified",
              "displayName": "Qualified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -896,
        96
      ],
      "id": "3140c563-644a-415c-9658-204c57975f84",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ecd8b091-2fd2-431b-af6a-595e7ced7bda",
              "leftValue": "={{ $json.Budget }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -672,
        96
      ],
      "id": "7f66a43e-a652-420a-9052-9bd7e8774079",
      "name": "Filter"
    },
    {
      "parameters": {
        "sendTo": "anishkorade@gmail.com",
        "subject": "🔔 New Lead",
        "emailType": "text",
        "message": "=🔔 new lead alert!\n\nName: {{ $json.Name }}\n\nEmail: {{ $json.Email }}\n\nService: {{ $json.Servide }}\n\nBudget:{{ $json.Budget }}\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -448,
        96
      ],
      "id": "ce376bda-e961-4e3f-a5dc-ade91877940b",
      "name": "Send a message",
      "webhookId": "REPLACE_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6f12d7fa-7738-4f22-ab62-269b378f1729",
              "leftValue": "={{ $('On form submission').item.json.Service }}",
              "rightValue": "AI automation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        96
      ],
      "id": "afa76cb8-9530-42a9-ab4b-aa5d993eca3a",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "=Hey {{ $('On form submission').item.json.Name.split(' ')[0] }}, thanks for enquiring",
        "emailType": "text",
        "message": "=Thanks for enquiring about {{ $('Filter').item.json.Servide }} service {{ $('On form submission').item.json.Name.split(' ')[0] }}.\n\nI will like to help you.\nHere's my website link: ivyside.in\n\nBest,\nAnish Korade",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "1070632e-54ee-485f-aa9a-c3f9f8c9869b",
      "name": "AI automation",
      "webhookId": "REPLACE_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "=Hey {{ $('On form submission').item.json.Name.split(' ')[0] }}, thanks for enquiring",
        "emailType": "text",
        "message": "=Thanks for enquiring about {{ $('Filter').item.json.Servide }} service {{ $('On form submission').item.json.Name.split(' ')[0] }}.\n\nI will like to help you.\nHere's my website link: ivyside.in\n\nBest,\nAnish Korade",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        192
      ],
      "id": "6b9fc68d-d7e6-455d-b3af-aac1fec33d6a",
      "name": "Website",
      "webhookId": "REPLACE_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        96
      ],
      "id": "59e077db-b38c-419f-8fdf-695e7cc922c7",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Fb6Ennf9-8_cW_0NzTVMTXui_1gijJAEgGy6H6Oazgs",
          "mode": "list",
          "cachedResultName": "n8n new leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fb6Ennf9-8_cW_0NzTVMTXui_1gijJAEgGy6H6Oazgs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "All",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fb6Ennf9-8_cW_0NzTVMTXui_1gijJAEgGy6H6Oazgs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Name": "={{ $('On form submission').item.json.Name }}",
            "Servide": "={{ $('On form submission').item.json.Service }}",
            "Budget": "={{ $('On form submission').item.json['Budget (in $)'] }}",
            "Date": "={{ $('On form submission').item.json.submittedAt }}",
            "Qualified": "={{ $if($('On form submission').item.json['Budget (in $)']<75,\"False\",\"True\") }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Servide",
              "displayName": "Servide",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qualified",
              "displayName": "Qualified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        96
      ],
      "id": "dc2e67bc-ef64-4a2d-ad08-c5864cdf987a",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI automation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI automation": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c31b727c-040a-45a9-ad1e-a21a782b17e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3062000b9c19bf8a4e2c7741c0d61d36abd27f0e30312b580801e91dd6ae451"
  },
  "id": "z-NonSmcLuX_xKzRJYbDC",
  "tags": []
}