PDF+Image.json
{
  "name": "PDF+Image",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -864,
        80
      ],
      "id": "46e9985d-3679-40e8-bf05-1b0d1a1e9f67",
      "name": "Telegram Trigger",
      "webhookId": "REPLACE_WEBHOOK_ID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
                    "rightValue": " application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "29bfb21c-b8b2-46d8-8530-d03df34aea67"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d05df7e0-f5b2-4fbb-8812-4a2b024aef9e",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
                    "rightValue": "image/png",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        96
      ],
      "id": "26daa336-70b3-4908-ac86-9120a6c5f80e",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        80
      ],
      "id": "4146d67c-19d2-4eb0-b07d-5efd59da816c",
      "name": "Get a file",
      "webhookId": "REPLACE_WEBHOOK_ID"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Pull out all the text from this image.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        0,
        192
      ],
      "id": "3750d915-d02d-4bde-b7ac-6ce3728d9947",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "tW5347fKpC9Ez5k2",
          "name": "AK-openai"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json['0'].content[0].text }}"
            },
            {
              "role": "system",
              "content": "=Pull out all the line items from this image receipt.\n\nOutput the data in the following json structure:\n\n{\n  \"receipt\": {\n    \"receipt_id\": \"\",\n    \"issue_date\": \"\",\n    \"currency\": \"\",\n    \"seller\": {\n      \"name\": \"\",\n      \"address\": \"\",\n      \"tax_id\": \"\",\n      \"contact\": {\n        \"phone\": \"\",\n        \"email\": \"\"\n      }\n    },\n    \"buyer\": {\n      \"name\": \"\",\n      \"address\": \"\",\n      \"contact\": {\n        \"phone\": \"\",\n        \"email\": \"\"\n      }\n    },\n    \"line_items\": [\n      {\n        \"title\": \"\",\n        \"description\": \"\",\n        \"quantity\": \"\",\n        \"unit_price\": \"\",\n        \"total_price\": \"\"\n      }\n    ],\n    \"subtotal\": \"\",\n    \"total_tax\": \"\",\n    \"discount\": {\n      \"type\": \"\",\n      \"amount\": \"\"\n    },\n    \"grand_total\": \"\",\n    \"payment\": {\n      \"method\": \"\",\n      \"transaction_id\": \"\",\n      \"status\": \"\"\n    },\n    \"notes\": \"\"\n  }\n}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        224,
        192
      ],
      "id": "b9dd4567-8ce1-4e23-bf85-b387519c0392",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "tW5347fKpC9Ez5k2",
          "name": "AK-openai"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output[0].content[0].text.receipt.line_items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        576,
        192
      ],
      "id": "b6a0a176-5e39-4767-9215-8849317d8824",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11Sq7g7k9X-V_CnG3qwDvQ-RvgH4VyjVAaNOFVTo-YPg",
          "mode": "list",
          "cachedResultName": "Dummy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11Sq7g7k9X-V_CnG3qwDvQ-RvgH4VyjVAaNOFVTo-YPg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1950781233,
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11Sq7g7k9X-V_CnG3qwDvQ-RvgH4VyjVAaNOFVTo-YPg/edit#gid=1950781233"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "Total Price": "={{ $json.total_price }}",
            "Unit Price": "={{ $json.unit_price }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Unit Price",
              "displayName": "Unit Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Price",
              "displayName": "Total Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        192
      ],
      "id": "cb7aee18-d1dc-4d48-b1ca-8b5360b8daac",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1024,
        192
      ],
      "id": "da813217-90cf-498e-b9b4-9629740512be",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "The receipt has been processed.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1472,
        96
      ],
      "id": "92fd4d01-2e65-4282-95db-5725ccc340b6",
      "name": "Send a text message",
      "webhookId": "REPLACE_WEBHOOK_ID"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "9c391a3c-44d5-418f-89cc-2eaa7feb9f12",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json['0'].content[0].text }}"
            },
            {
              "role": "system",
              "content": "=Pull out all the line items from this image receipt.\n\nOutput the data in the following json structure:\n\n{\n  \"receipt\": {\n    \"receipt_id\": \"\",\n    \"issue_date\": \"\",\n    \"currency\": \"\",\n    \"seller\": {\n      \"name\": \"\",\n      \"address\": \"\",\n      \"tax_id\": \"\",\n      \"contact\": {\n        \"phone\": \"\",\n        \"email\": \"\"\n      }\n    },\n    \"buyer\": {\n      \"name\": \"\",\n      \"address\": \"\",\n      \"contact\": {\n        \"phone\": \"\",\n        \"email\": \"\"\n      }\n    },\n    \"line_items\": [\n      {\n        \"title\": \"\",\n        \"description\": \"\",\n        \"quantity\": \"\",\n        \"unit_price\": \"\",\n        \"total_price\": \"\"\n      }\n    ],\n    \"subtotal\": \"\",\n    \"total_tax\": \"\",\n    \"discount\": {\n      \"type\": \"\",\n      \"amount\": \"\"\n    },\n    \"grand_total\": \"\",\n    \"payment\": {\n      \"method\": \"\",\n      \"transaction_id\": \"\",\n      \"status\": \"\"\n    },\n    \"notes\": \"\"\n  }\n}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "a483a3a9-e418-48d0-b4d0-a28f3c16c937",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "tW5347fKpC9Ez5k2",
          "name": "AK-openai"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output[0].content[0].text.receipt.line_items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        576,
        0
      ],
      "id": "315fc0ed-04c3-4857-91ee-d3b39b2f329a",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11Sq7g7k9X-V_CnG3qwDvQ-RvgH4VyjVAaNOFVTo-YPg",
          "mode": "list",
          "cachedResultName": "Dummy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11Sq7g7k9X-V_CnG3qwDvQ-RvgH4VyjVAaNOFVTo-YPg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1950781233,
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11Sq7g7k9X-V_CnG3qwDvQ-RvgH4VyjVAaNOFVTo-YPg/edit#gid=1950781233"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "Total Price": "={{ $json.total_price }}",
            "Unit Price": "={{ $json.unit_price }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Unit Price",
              "displayName": "Unit Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Price",
              "displayName": "Total Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        0
      ],
      "id": "0aafb865-2a61-45a3-8c64-ee32c747e609",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1024,
        0
      ],
      "id": "cac8c1c0-ed20-4c04-802a-9c04a6d54f45",
      "name": "Aggregate1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1248,
        96
      ],
      "id": "61692de3-9eef-40aa-a424-d9c3d5934b97",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\n\nlet fileId = null;\nlet fileName = null;\nlet mimeType = null;\n\n// Case 1: PDF / files / images sent as document\nif (item.message?.document?.file_id) {\n  fileId = item.message.document.file_id;\n  fileName = item.message.document.file_name || null;\n  mimeType = item.message.document.mime_type || null;\n}\n\n// Case 2: Images sent as photo\nelse if (item.message?.photo?.length) {\n  fileId = item.message.photo[item.message.photo.length - 1].file_id;\n  fileName = null;\n  mimeType = \"image/jpeg\";\n}\n\nif (!fileId) {\n  throw new Error(\"No file_id found in Telegram payload\");\n}\n\nreturn [\n  {\n    json: {\n      file_id: fileId,\n      file_name: fileName,\n      mime_type: mimeType\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        80
      ],
      "id": "71bb1a80-50b6-4c90-9c11-5b6ad5366434",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "26e09300-aeab-4d09-a67e-55bd6ba99fc8",
  "meta": {
    "instanceId": "e3062000b9c19bf8a4e2c7741c0d61d36abd27f0e30312b580801e91dd6ae451"
  },
  "id": "gVFLt_nwqaR2NNQ01rRET",
  "tags": []
}
