Pittie Exit.json
{
  "name": "Pittie Exit",
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8",
          "mode": "list",
          "cachedResultName": "Pittie Exit Process",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 556188197,
          "mode": "list",
          "cachedResultName": "Employee Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit#gid=556188197"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Emp ID": "={{ $('On form submission').item.json['EMP ID'] }}",
            "Name": "={{ $('On form submission').item.json['Full Name'] }}",
            "Dept": "={{ $('On form submission').item.json.Department }}",
            "Manager": "={{ $('On form submission').item.json.Manager }}",
            "Notice Period (in Days)": "={{ $('On form submission').item.json['Notice Period'] }}",
            "LWD": "={{ $json.lastWorkingDay }}",
            "Process Status": "Awaiting Approval"
          },
          "matchingColumns": [
            "Emp ID"
          ],
          "schema": [
            {
              "id": "Emp ID",
              "displayName": "Emp ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dept",
              "displayName": "Dept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Manager",
              "displayName": "Manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notice Period (in Days)",
              "displayName": "Notice Period (in Days)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LWD",
              "displayName": "LWD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Process Status",
              "displayName": "Process Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -704,
        304
      ],
      "id": "7126c033-1405-4e63-b582-78bdffcc4465",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Pittie Exit Process",
        "formFields": {
          "values": [
            {
              "fieldName": "emp_id",
              "fieldLabel": "Your Employee ID",
              "requiredField": true
            },
            {
              "fieldName": "confirmation",
              "fieldLabel": "Are you sure you want to apply for resignation?",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldName": "reason",
              "fieldLabel": "Reason for resignation?",
              "fieldType": "textarea",
              "placeholder": "Please describe your reason to apply for resignation",
              "requiredField": true
            },
            {
              "fieldName": "requested_lwd",
              "fieldLabel": "Requested Last Working Day",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldName": "p_email",
              "fieldLabel": "Personal Email Address",
              "placeholder": "yourname@gmail.com",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -1184,
        304
      ],
      "id": "0490e22d-8da9-41f4-ba03-617b63c21a6c",
      "name": "On form submission",
      "webhookId": "REPLACE_WEBHOOK_ID"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Approval Request for {{ $json.Name }}'s Resignation",
        "emailType": "html",
        "message": "=Dear {{ $json.Manager }},<br><br>\n\nYou are requested your approval for the resignation of <b>{{ $json.Name }}</b>, Employee ID <b>{{ $json['Emp ID'] }}</b> from the {{ $json.Dept }} department. {{ $json['Name'].split(' ')[0] }} has a notice period of {{ $json['Notice Period (in Days)'] }} days and his last working day is set for {{ $json.LWD }}.<br><br>\n\nApproval is required to initiate the departmental clearance process.<br><br>\n\nThank you for your attention to this matter.<br><br>\n\n<b>Sheet Link:</b> <a href=\"https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit?gid=58593444#gid=58593444\">Click here to view Sheet</a>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -480,
        176
      ],
      "id": "b72f427e-73ba-43a6-94f9-7dce2185ad69",
      "name": "Create a draft",
      "webhookId": "REPLACE_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8",
          "mode": "list",
          "cachedResultName": "Pittie Exit Process",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 58593444,
          "mode": "list",
          "cachedResultName": "Approval Status",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit#gid=58593444"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EMP ID": "={{ $('Append or update row in sheet').item.json['Emp ID'] }}"
          },
          "matchingColumns": [
            "EMP ID"
          ],
          "schema": [
            {
              "id": "EMP ID",
              "displayName": "EMP ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HR",
              "displayName": "HR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audit",
              "displayName": "Audit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Manager",
              "displayName": "Manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IT",
              "displayName": "IT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Finance",
              "displayName": "Finance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -512,
        464
      ],
      "id": "5bda4786-9a61-4f4a-b8ab-319e07601d1e",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "01aa384c-899d-4fdd-8fda-56b38354d2de",
              "leftValue": "={{ $json.HR }}",
              "rightValue": "Approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "428a0738-a3f3-4529-8537-9090ba8b9d51",
              "leftValue": "={{ $json.Audit }}",
              "rightValue": "Approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cfffe58d-61ef-422d-bff5-34b7a78dce2c",
              "leftValue": "={{ $json.Manager }}",
              "rightValue": "Approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1008,
        720
      ],
      "id": "8078171b-7195-4b9d-a2ad-07f776c33f47",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8",
          "mode": "list",
          "cachedResultName": "Pittie Exit Process",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 556188197,
          "mode": "list",
          "cachedResultName": "Employee Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit#gid=556188197"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Emp ID": "={{ $json['EMP ID'] }}",
            "Process Status": "Clearance Active"
          },
          "matchingColumns": [
            "Emp ID"
          ],
          "schema": [
            {
              "id": "Emp ID",
              "displayName": "Emp ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dept",
              "displayName": "Dept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Manager",
              "displayName": "Manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notice Period (in Days)",
              "displayName": "Notice Period (in Days)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LWD",
              "displayName": "LWD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Process Status",
              "displayName": "Process Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -752,
        704
      ],
      "id": "3ca53208-c6a7-4ecc-90ea-4858a750ec05",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the input data\nconst submittedAt = $input.item.json.submittedAt;\nconst noticePeriodDays = parseInt($input.item.json[\"Notice Period\"]);\n\n// Parse the submission date\nconst lwdDate = new Date(submittedAt);\n\n// Add the notice period as DAYS\nlwdDate.setDate(lwdDate.getDate() + noticePeriodDays);\n\n// Helper function to pad numbers\nconst pad = (num) => num.toString().padStart(2, '0');\n\n// Format to dd-mm-yyyy\nconst day = pad(lwdDate.getDate());\nconst month = pad(lwdDate.getMonth() + 1);\nconst year = lwdDate.getFullYear();\n\nconst lastWorkingDay = `${day}-${month}-${year}`;\n\nreturn {\n  lastWorkingDay\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        304
      ],
      "id": "89185810-6654-435e-943d-88f0009b7213",
      "name": "Calculate LWD"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Clearance Initiated – IT Action Required for Employee ID: {{ $json['Emp ID'] }}",
        "emailType": "html",
        "message": "=<p>This is to inform you that the exit request for {{ $json.Name }} (Employee ID: <b>{{ $json['Emp ID'] }}</b>) has been formally approved by HR and the reporting manager.</p>\n\n<p>The employee’s Last Working Day (LWD) is <b>{{ $json.LWD }}</b>.</p>\n\n<p>Kindly initiate the IT clearance process and complete the following actions before the LWD:</p>\n\n<ul>\n  <li>Asset recovery (laptop, ID card, access devices, etc.)</li>\n  <li>System access deactivation</li>\n  <li>Software license revocation</li>\n  <li>Email and communication tool access review</li>\n</ul>\n\n<p>Please update the clearance status in the system upon completion.<br>\nTimely completion of this process is essential to ensure smooth exit formalities.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -352,
        704
      ],
      "id": "a20bb0b1-b5af-436b-ba16-88bb5f084e2b",
      "name": "Create a draft1",
      "webhookId": "REPLACE_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8",
          "mode": "list",
          "cachedResultName": "Pittie Exit Process",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 58593444,
          "mode": "list",
          "cachedResultName": "Approval Status",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit#gid=58593444"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "HR",
            "Audit",
            "Manager"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1248,
        720
      ],
      "id": "b2199be5-3de4-4fcf-8ee0-591614c7a2a6",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "NdvNCg6d0ZptJm1D",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8",
          "mode": "list",
          "cachedResultName": "Pittie Exit Process",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 556188197,
          "mode": "list",
          "cachedResultName": "Employee Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit#gid=556188197"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -544,
        704
      ],
      "id": "fdb0a97b-9e88-4c94-ba8a-c3905d90d00c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Pittie Exit Process",
        "formFields": {
          "values": [
            {
              "fieldName": "emp_id",
              "fieldLabel": "Your Employee ID",
              "requiredField": true
            },
            {
              "fieldName": "confirmation",
              "fieldLabel": "Are you sure you want to apply for resignation?",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldName": "reason",
              "fieldLabel": "Reason for resignation?",
              "fieldType": "textarea",
              "placeholder": "Please describe your reason to apply for resignation",
              "requiredField": true
            },
            {
              "fieldName": "requested_lwd",
              "fieldLabel": "Requested Last Working Day",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldName": "p_email",
              "fieldLabel": "Personal Email Address",
              "placeholder": "yourname@gmail.com",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -1424,
        1600
      ],
      "id": "3a2c3dbb-33a4-40a8-8c75-2ab67aa42e64",
      "name": "On form submission1",
      "webhookId": "REPLACE_WEBHOOK_ID"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8",
          "mode": "list",
          "cachedResultName": "Pittie Exit Process",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1404828242,
          "mode": "list",
          "cachedResultName": "Master Employee",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit#gid=1404828242"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Emp ID",
              "lookupValue": "={{ $json.emp_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1008,
        1600
      ],
      "id": "fe15dd0e-0f79-41cc-962f-4c845965eb02",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        1600
      ],
      "id": "3ea44708-142a-4cf4-be98-e92276281cb0",
      "name": "empData"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8",
          "mode": "list",
          "cachedResultName": "Pittie Exit Process",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 58593444,
          "mode": "list",
          "cachedResultName": "Approval Status",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit#gid=58593444"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EMP ID": "={{ $json['Emp ID'] }}",
            "notice_flexibility": "={{ $json.notice_flexibility }}",
            "LWD": "={{ $today.plus($json['notice period (Days)'],'days').format('yyyy-MM-dd') }}",
            "requested_LWD": "={{ $('formData').item.json.requested_lwd }}",
            "Process Status": "Exit Initiated"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "EMP ID",
              "displayName": "EMP ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LWD",
              "displayName": "LWD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "requested_LWD",
              "displayName": "requested_LWD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notice_flexibility",
              "displayName": "notice_flexibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HR",
              "displayName": "HR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audit",
              "displayName": "Audit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Manager",
              "displayName": "Manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IT",
              "displayName": "IT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Finance",
              "displayName": "Finance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Process Status",
              "displayName": "Process Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -624,
        1600
      ],
      "id": "821e1b6f-3ebb-4dc5-834b-b8710ae82a5b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1216,
        1600
      ],
      "id": "79fd32a1-60fe-4c7c-9ba1-0bacce33f9ad",
      "name": "formData"
    },
    {
      "parameters": {
        "content": "## initiation\n",
        "height": 336,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1280,
        1472
      ],
      "id": "68a051ee-2931-4d56-907c-bd190ab09618",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8",
          "mode": "list",
          "cachedResultName": "Pittie Exit Process",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 58593444,
          "mode": "list",
          "cachedResultName": "Approval Status",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit#gid=58593444"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EMP ID": "={{ $('empData').item.json['Emp ID'] }}",
            "Initiation_email": "sent"
          },
          "matchingColumns": [
            "EMP ID"
          ],
          "schema": [
            {
              "id": "EMP ID",
              "displayName": "EMP ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LWD",
              "displayName": "LWD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "requested_LWD",
              "displayName": "requested_LWD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notice_flexibility",
              "displayName": "notice_flexibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Initiation_email",
              "displayName": "Initiation_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HR",
              "displayName": "HR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audit",
              "displayName": "Audit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Manager",
              "displayName": "Manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IT",
              "displayName": "IT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Finance",
              "displayName": "Finance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Process Status",
              "displayName": "Process Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        1600
      ],
      "id": "229aca89-ad42-4f5f-9611-f3bcd11495fc",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('formData').item.json.p_email }}",
        "subject": "Resignation Process Started",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.6; color: #333333; margin: 0; padding: 0; background-color: #f9f9f9; }\n        .container { max-width: 600px; margin: 20px auto; background: #ffffff; border: 1px solid #eeeeee; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 10px rgba(0,0,0,0.05); }\n        .header { padding: 30px; text-align: center; background-color: #ffffff; border-bottom: 1px solid #f0f0f0; }\n        .logo { max-width: 180px; height: auto; }\n        .content { padding: 40px; }\n        .h1 { color: #1a1a1a; font-size: 22px; font-weight: 600; margin-bottom: 20px; }\n        .status-badge { display: inline-block; padding: 6px 12px; background-color: #e8f5e9; color: #2e7d32; border-radius: 4px; font-size: 12px; font-weight: bold; margin-bottom: 20px; text-transform: uppercase; }\n        .details-box { background-color: #fcfcfc; border: 1px border; border-color: #e0e0e0; padding: 20px; border-radius: 6px; margin: 25px 0; }\n        .detail-item { margin-bottom: 10px; font-size: 14px; }\n        .detail-label { font-weight: bold; color: #666; width: 160px; display: inline-block; }\n        .footer { padding: 20px; text-align: center; font-size: 12px; color: #999999; border-top: 1px solid #f0f0f0; }\n        .notice-note { font-size: 13px; color: #666; font-style: italic; margin-top: 15px; border-left: 3px solid #0052cc; padding-left: 10px; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <img src=\"https://pittiegroup.com/wp-content/uploads/2023/04/cropped-Group-1.png\" alt=\"Pittie Group\" class=\"logo\">\n        </div>\n\n        <div class=\"content\">\n            <span class=\"status-badge\">Process Initiated</span>\n            <div class=\"h1\">Acknowledgment of Resignation</div>\n            \n            <p>Dear {{ $('empData').item.json.Name }},</p>\n            \n            <p>We have received your formal resignation submitted via the Exit Portal. This email confirms that your offboarding process has been initiated across the IT, Finance, HR, and Audit departments.</p>\n\n            <div class=\"details-box\">\n                <div class=\"detail-item\">\n                    <span class=\"detail-label\">Employee ID:</span> {{ $('empData').item.json['Emp ID'] }}\n                </div>\n                <div class=\"detail-item\">\n                    <span class=\"detail-label\">Full Notice Period:</span> {{ $json[\"LWD\"] }} \n                </div>\n            </div>\n\n            \n<p>{{ $json.notice_flexibility == \"Yes\" ? \n`We note that your contract allows for <strong>flexible notice periods</strong>. While the standard end date listed above, your requested date of <strong>${$json[\"requested_LWD\"]}</strong> is currently being reviewed by HR for approval.` : \n`Per your employment contract, the standard notice period applies. Your tentative last working day is scheduled for <strong>${$json[\"LWD\"]}</strong>.` \n}}</p>\n\n            <p><strong>Next Steps:</strong></p>\n            <ul>\n                <li><strong>Clearance:</strong> You will receive automated approval requests from IT, Finance, and Audit.</li>\n                <li><strong>Exit Interview:</strong> HR will reach out to schedule your final interview shortly.</li>\n                <li><strong>Assets:</strong> Please ensure all company property is ready for handover on your final day.</li>\n            </ul>\n\n            <p>We thank you for your contributions to the Pittie Group and wish to ensure a smooth transition for you.</p>\n            \n            <p>Best Regards,<br>\n            <strong>People Operations Team</strong><br>\n            Pittie Group</p>\n        </div>\n\n        <div class=\"footer\">\n            This is an automated message. Please contact HR if you have any questions regarding your final settlement.\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -416,
        1600
      ],
      "id": "4ace1ab4-4ed8-43ca-afb2-62c942a2bf8c",
      "name": "intiation email",
      "webhookId": "REPLACE_WEBHOOK_ID",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }},vaishnavj2124.work@gmail.com",
        "subject": "={{ $('empData').item.json.Name }} has applied for resignation.",
        "message": "={{\n`<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.6; color: #333333; margin: 0; padding: 0; background-color: #f9f9f9; }\n        .container { max-width: 600px; margin: 20px auto; background: #ffffff; border: 1px solid #eeeeee; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 10px rgba(0,0,0,0.05); }\n        .header { padding: 30px; text-align: center; background-color: #ffffff; border-bottom: 1px solid #f0f0f0; }\n        .logo { max-width: 180px; height: auto; }\n        .content { padding: 40px; }\n        .h1 { color: #1a1a1a; font-size: 20px; font-weight: 600; margin-bottom: 15px; }\n        .action-required { display: inline-block; padding: 6px 12px; background-color: #fff4e5; color: #663c00; border-radius: 4px; font-size: 12px; font-weight: bold; margin-bottom: 20px; text-transform: uppercase; border: 1px solid #ffe1ba; }\n        .details-box { background-color: #fcfcfc; border: 1px solid #e0e0e0; padding: 20px; border-radius: 6px; margin: 25px 0; }\n        .detail-item { margin-bottom: 10px; font-size: 14px; }\n        .detail-label { font-weight: bold; color: #666; width: 140px; display: inline-block; }\n        .footer { padding: 20px; text-align: center; font-size: 11px; color: #999999; border-top: 1px solid #f0f0f0; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <img src=\"https://pittiegroup.com/wp-content/uploads/2023/04/cropped-Group-1.png\" alt=\"Pittie Group\" class=\"logo\">\n        </div>\n\n        <div class=\"content\">\n            <span class=\"action-required\">Action Required: Resignation Approval</span>\n            <div class=\"h1\">Employee Resignation Notification</div>\n            \n            <p>Hi ${$json[\"Name\"]},</p>\n            \n            <p>This is to inform you that <strong>${$('empData').item.json.Name}</strong> has submitted their formal resignation. As their manager, your approval is required to proceed with the offboarding workflow.</p>\n\n            <div class=\"details-box\">\n                <div class=\"detail-item\"><span class=\"detail-label\">Employee:</span> ${$('empData').item.json.Name} (${$('empData').item.json['Emp ID']})</div>\n                <div class=\"detail-item\"><span class=\"detail-label\">Reason:</span>\"${$('formData').item.json.reason}\"</div>\n                <div class=\"detail-item\"><span class=\"detail-label\">Requested LWD:</span> ${$('formData').item.json.requested_lwd}</div>\n                <div class=\"detail-item\"><span class=\"detail-label\">Contractual LWD:</span> ${$('Append row in sheet').item.json.LWD}</div>\n            </div>\n\n            <p>\n                ${$('empData').item.json.notice_flexibility === \"Yes\" ? \n                `The employee has requested an earlier exit. Since their contract allows for <strong>flexibility</strong>, you may coordinate with HR to approve their requested date or stick to the standard notice period.` : \n                `The employee's contract specifies a <strong>fixed notice period</strong>. The tentative last working day is set to ${$('Append row in sheet').item.json.LWD}.`}\n            </p>\n\n            <p>Please log in to the HR Portal to review the handover plan and provide your approval. Once you approve, the notification will trigger for IT, Finance, and Audit clearance.</p>\n            \n            <p>Regards,<br>\n            <strong>People Operations Team</strong></p>\n        </div>\n\n        <div class=\"footer\">\n            Automated Notification | Pittie Group Employee Exit Process\n        </div>\n    </div>\n</body>\n</html>`\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        432,
        1200
      ],
      "id": "02d8a888-b7bb-4064-9376-ddbe23b2bb26",
      "name": "Manager Email",
      "webhookId": "REPLACE_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8",
          "mode": "list",
          "cachedResultName": "Pittie Exit Process",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1404828242,
          "mode": "list",
          "cachedResultName": "Master Employee",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit#gid=1404828242"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Emp ID",
              "lookupValue": "={{ $('Get row(s) in sheet1').item.json['Manager Emp ID'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        1200
      ],
      "id": "0499a242-74c2-4d75-85e8-1004b95634ab",
      "name": "getManager",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        1200
      ],
      "id": "2fb8aad9-b6e1-4ae3-b450-f59cd457d9a7",
      "name": "setManager"
    },
    {
      "parameters": {
        "content": "## Manager Approval",
        "height": 208,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        1136
      ],
      "id": "656268ca-38c6-4eba-867a-9031ed0a011d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        432,
        1456
      ],
      "id": "71a5ec99-8f8f-4d99-8142-e2792d9fee8e",
      "name": "Manager Email1",
      "webhookId": "REPLACE_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8",
          "mode": "list",
          "cachedResultName": "Pittie Exit Process",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1404828242,
          "mode": "list",
          "cachedResultName": "Master Employee",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit#gid=1404828242"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Emp ID",
              "lookupValue": "={{ $('Get row(s) in sheet1').item.json['Manager Emp ID'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        1456
      ],
      "id": "aa711718-7323-4a49-9bd6-cfb718a6d4d5",
      "name": "getManager1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        1456
      ],
      "id": "b9bfaf6d-74ac-4e48-877f-1712d05a3d60",
      "name": "setManager1"
    },
    {
      "parameters": {
        "content": "## HR Approval",
        "height": 208,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        1392
      ],
      "id": "27da5475-90e4-4433-84f3-67723ceaeed2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        432,
        1728
      ],
      "id": "633834df-7dbd-4eae-845d-be3acac4b29c",
      "name": "Manager Email2",
      "webhookId": "REPLACE_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8",
          "mode": "list",
          "cachedResultName": "Pittie Exit Process",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1404828242,
          "mode": "list",
          "cachedResultName": "Master Employee",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit#gid=1404828242"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Emp ID",
              "lookupValue": "={{ $('Get row(s) in sheet1').item.json['Manager Emp ID'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        1728
      ],
      "id": "8a1f1792-df50-4337-ba0c-b1e02cf318cd",
      "name": "getManager2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        1728
      ],
      "id": "1bfba9e0-e7d1-443d-8003-c222ff8c90cf",
      "name": "setManager2"
    },
    {
      "parameters": {
        "content": "## IT Approval",
        "height": 208,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        1664
      ],
      "id": "030f5673-79c0-4b1c-a43d-d99d8f16999a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        432,
        2000
      ],
      "id": "1241d918-9358-4502-9c30-59a246a339d7",
      "name": "Manager Email3",
      "webhookId": "REPLACE_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8",
          "mode": "list",
          "cachedResultName": "Pittie Exit Process",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1404828242,
          "mode": "list",
          "cachedResultName": "Master Employee",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11D-pKrsycE8CON2xRhugHgBvcVO62u9Bqb5Y95UBQb8/edit#gid=1404828242"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Emp ID",
              "lookupValue": "={{ $('Get row(s) in sheet1').item.json['Manager Emp ID'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        2000
      ],
      "id": "1367ed79-b05a-4552-8a58-fb6bed109bf3",
      "name": "getManager3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        2000
      ],
      "id": "1bd3b1a3-321f-4d55-8e58-051f8e49e305",
      "name": "setManager3"
    },
    {
      "parameters": {
        "content": "## FINANCE & AUDIT Approval",
        "height": 208,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        1936
      ],
      "id": "724418f7-5a4c-42bc-b162-7d0158a11123",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ID - {{ $('Edit Fields').item.json['Event ID'] }}\nEVENT NAME - {{ $('Edit Fields').item.json['Event Name'] }}\nEVENT DESCRIPTION - {{ $('Edit Fields').item.json['Event Description'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an Event Feedback Form Question Generator.\n\nGoal:\nGiven an event name and an event description, generate a concise list of 6–7 feedback questions that will be used to create a Google Form via an API.\n\nOutput rules (STRICT):\n- Return ONLY a valid JSON object.\n- The JSON must have exactly one top-level key: \"questions\".\n- \"questions\" must be an array of 6–7 objects.\n- Each question object MUST contain only these keys:\n  1) \"question_text\"\n  2) \"question_type\"\n- Do NOT include any other keys (no ids, no options, no metadata, no extra wrappers).\n\nQuestion quality rules:\n- Questions must be relevant to the specific event described.\n- Mix rating-style and specific open-ended questions.\n- Avoid duplicates and keep wording clear and short.\n\nAllowed question_type values (use only these):\n- \"rating\"\n- \"short_text\"\n- \"long_text\"\n- \"multiple_choice\"\n- \"checkboxes\"\n\nGeneral guidance:\n- Prefer \"rating\" for satisfaction/quality metrics.\n- Use \"long_text\" for suggestions and improvements.\n- Use \"short_text\" for quick factual answers (e.g., role, expectations met).\n- Use \"multiple_choice\"/\"checkboxes\" only when the question can be answered without custom options; do not add options in output.\n\nReturn JSON only. No explanations.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -720,
        2304
      ],
      "id": "216e1665-91d2-4438-baa2-6bdb8c3e6f1a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        944,
        2528
      ],
      "id": "f875e94c-c355-4eb5-b8b9-b836a946e5b6",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "H7Wdx6wCpCltG4OS",
          "name": "AK-OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        2304
      ],
      "id": "81252633-40ca-4acd-9700-a998af1e07c2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[{\n\t\n  \"question_text\": \"California\",\n\t\"question_type\": \"ygriuaf\"\n  \n}]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -640,
        2528
      ],
      "id": "787ad993-ca0b-4f31-8be6-a974cb9d13d4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// 1. GET DATA\n// We assume the AI agent output is in the first item's 'output' property\nlet aiQuestions = items[0].json.output || [];\n\nif (!aiQuestions.length && Array.isArray(items[0].json)) {\n  aiQuestions = items.map(item => item.json); \n}\n\nconst requests = [];\nlet index = 0;\n\n// ==================================================\n// STEP 0: CONFIGURE FORM SETTINGS\n// ==================================================\nrequests.push({\n    updateSettings: {\n        settings: {\n            // REMOVED 'emailCollection' (Not supported in REST API)\n            \n            // Quiz Settings: Ensure it is NOT a quiz\n            quizSettings: {\n                isQuiz: false \n            }\n        },\n        // Mask must only contain valid fields\n        updateMask: \"quizSettings.isQuiz\"\n    }\n});\n\n// ==================================================\n// STEP A: ADD HARD-CODED TOP QUESTIONS\n// ==================================================\n\n// 1. Email Address (Manual Workaround since API can't toggle the setting)\nrequests.push({\n    createItem: {\n        item: {\n            title: \"Email Address\",\n            questionItem: {\n                question: {\n                    required: true,\n                    textQuestion: { paragraph: false }\n                }\n            }\n        },\n        location: { index: index++ } \n    }\n});\n\n// 2. Employee Name\nrequests.push({\n    createItem: {\n        item: {\n            title: \"Employee Name\",\n            questionItem: {\n                question: {\n                    required: true,\n                    textQuestion: { paragraph: false }\n                }\n            }\n        },\n        location: { index: index++ } \n    }\n});\n\n// 3. Employee Code\nrequests.push({\n    createItem: {\n        item: {\n            title: \"Employee Code\",\n            questionItem: {\n                question: {\n                    required: true,\n                    textQuestion: { paragraph: false }\n                }\n            }\n        },\n        location: { index: index++ } \n    }\n});\n\n\n// ==================================================\n// STEP B: LOOP THROUGH AI QUESTIONS\n// ==================================================\n\naiQuestions.forEach(q => {\n    \n    let questionBody = {\n        required: true \n    };\n\n    // TYPE: RATING\n    if (q.question_type === 'rating') {\n        questionBody.scaleQuestion = {\n            low: 1,\n            high: 5,\n            lowLabel: \"Poor\",\n            highLabel: \"Excellent\"\n        };\n    }\n    \n    // TYPE: LONG TEXT\n    else if (q.question_type === 'long_text') {\n        questionBody.textQuestion = {\n            paragraph: true\n        };\n    }\n    \n    // TYPE: SHORT TEXT (Default)\n    else {\n        questionBody.textQuestion = {\n            paragraph: false\n        };\n    }\n\n    requests.push({\n        createItem: {\n            item: {\n                title: q.question_text,\n                questionItem: {\n                    question: questionBody\n                }\n            },\n            location: {\n                index: index++ \n            }\n        }\n    });\n});\n\n// 3. RETURN BATCH\nreturn {\n    json: {\n        requests: requests\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        2304
      ],
      "id": "8cc75ee6-a2dd-44e7-a268-7f820c6fe69a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://forms.googleapis.com/v1/forms",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"info\": {\n    \"title\": \"{{ $json['Event Name'] }} Feedback\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -944,
        2304
      ],
      "id": "bcd08c1a-bb42-4bdd-9429-f94c68a0c2e5",
      "name": "createForm"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nCJW5c1BeKuT0RG9EQudl-QnC7W9ggjKRaxIu8SdPwo",
          "mode": "list",
          "cachedResultName": "EVENTS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nCJW5c1BeKuT0RG9EQudl-QnC7W9ggjKRaxIu8SdPwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nCJW5c1BeKuT0RG9EQudl-QnC7W9ggjKRaxIu8SdPwo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event ID": "={{ $('Edit Fields').item.json['Event ID'] }}",
            "Form Generated (Yes/No)": "yes",
            "Form Link": "=https://docs.google.com/forms/d/{{ $('createForm').item.json.formId }}/edit ",
            "Response_link": "= https://docs.google.com/forms/d/{{ $('createForm').item.json.formId }}/viewform"
          },
          "matchingColumns": [
            "Event ID"
          ],
          "schema": [
            {
              "id": "Event ID",
              "displayName": "Event ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Event Name",
              "displayName": "Event Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Event Description",
              "displayName": "Event Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Event Date",
              "displayName": "Event Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Event Type",
              "displayName": "Event Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Codes (comma-separated or array)",
              "displayName": "Employee Codes (comma-separated or array)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Event Completed?",
              "displayName": "Event Completed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Form Generated (Yes/No)",
              "displayName": "Form Generated (Yes/No)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Form Link",
              "displayName": "Form Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response_link",
              "displayName": "Response_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Response Count",
              "displayName": "Response Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        2304
      ],
      "id": "0f84138b-a40d-4ddf-a7d3-28c190db5faa",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Fetch the filter string from your specific node\nconst filterString = $('Edit Fields').first().json['Employee Codes (comma-separated or array)'];\n\n// 2. Convert that string into a clean array: [\"EMP001\", \"EMP002\", ...]\n// We split by comma and trim any accidental whitespace\nconst allowedCodes = filterString.split(',').map(code => code.trim());\n\n// 3. Get all the employee objects currently entering this node\nconst allEmployees = $input.all();\n\n// 4. Filter the employees based on whether their code exists in our allowedCodes array\nconst filteredResults = allEmployees.filter(item => {\n  const empCode = item.json.employee_code;\n  return allowedCodes.includes(empCode);\n});\n\nreturn filteredResults;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        2304
      ],
      "id": "86bae5fa-558e-4a08-987d-e3acf7461fc5",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Employee name - {{ $json.employee_name }}\nemployee email - {{ $json.employee_email }}\n\nEVENT NAME - {{ $('Edit Fields').item.json['Event Name'] }}\nEVENT DESCRIPTION - {{ $('Edit Fields').item.json['Event Description'] }}\n\nFeedback Response LInk - {{ $('Update row in sheet').item.json.Response_link }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an HR Email Drafting Agent for Pittie Group.\n\nGoal:\nGenerate a professional, mobile-friendly HTML email requesting feedback for an event the employee attended, with the Google Form link rendered as a prominent button, and Pittie Group branding (logo included).\n\nBranding:\n- Company name: Pittie Group\n- Logo URL (must be included in the HTML near the top): https://pittiegroup.com/wp-content/uploads/2023/04/cropped-Group-1.png\n\nInputs you will receive:\n- toEmail\n- employeeFirstName\n- eventName\n- eventDescription\n- formResponsesLink\n\nOutput rules (STRICT):\n- Return ONLY a valid JSON object in exactly this format and key order:\n{\n  \"toEmail\": \"...\",\n  \"emailBody\": \"...\",\n  \"emailSubject\": \"...\"\n}\n- Do NOT include any other keys.\n- Do NOT wrap output in markdown or code fences.\n- Ensure JSON is valid: escape quotes inside HTML as needed, no trailing commas.\n\nEmail subject rules:\n- Keep subject short and clear.\n- Must mention the eventName.\n\nHTML email rules:\n- emailBody MUST be valid HTML (inline CSS only; no external CSS, no <style> blocks).\n- Mobile-first layout: single column, max-width ~560px, readable font sizes (14–16px), generous line-height.\n- Use a clean “card” container with subtle border, rounded corners, and padding.\n- Include the Pittie Group logo at the top:\n  - Use an <img> tag with the logo URL.\n  - Set a sensible max-width (e.g., 140–180px), height auto, and include alt text \"Pittie Group\".\n- Include:\n  1) Greeting using employeeFirstName\n  2) Line stating they attended eventName\n  3) Brief eventDescription section (trim/condense to a few lines if long)\n  4) Clear call-to-action with a button linking to formResponsesLink\n  5) Small note that feedback helps improve future events (no pressure)\n  6) Signature: “HR” and “Pittie Group”\n- Button requirements:\n  - Use an <a> tag styled like a button (inline styles).\n  - Large enough for taps on phones (min height ~44px, padding).\n  - High contrast and centered.\n- Keep the HTML compact (avoid heavy tables; if tables are used, keep minimal and responsive).\n- Do not mention APIs or backend details.\n\nReturn JSON only.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        976,
        2288
      ],
      "id": "4c83369c-8311-46a5-9673-30c474469af4",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        752,
        2304
      ],
      "id": "5a97c5c8-6068-4c1c-99c3-b35a315dbf84",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"toEmail\":\"test@gmail.com\",\n  \"emailBody\":\"haiufghaeroiueghiuaergherof\",\n  \"emailSubject\":\"hgrauieghaerog\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1120,
        2528
      ],
      "id": "974af0ea-0fa4-4165-91a5-2713447bdcb5",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "sendTo": "vaishnav@ivyside.in",
        "subject": "={{ $json.output.emailSubject }}",
        "message": "={{ $json.output.emailBody }}",
        "options": {
          "appendAttribution": false,
          "senderName": "HR | PITTIE GROUP"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1328,
        2288
      ],
      "id": "48352f96-7562-47c2-8932-76d997a99b71",
      "name": "Send a message",
      "webhookId": "REPLACE_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://forms.googleapis.com/v1/forms/{{ $('createForm').item.json.formId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"requests\": $json.requests }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        2304
      ],
      "id": "a4376014-a364-477d-9588-836ed9230fce",
      "name": "createQuestions"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1nCJW5c1BeKuT0RG9EQudl-QnC7W9ggjKRaxIu8SdPwo",
          "mode": "list",
          "cachedResultName": "EVENTS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nCJW5c1BeKuT0RG9EQudl-QnC7W9ggjKRaxIu8SdPwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nCJW5c1BeKuT0RG9EQudl-QnC7W9ggjKRaxIu8SdPwo/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Event Completed?"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1616,
        2304
      ],
      "id": "2673cea9-459f-4f44-ab2b-57f98c9b9458",
      "name": "Google Sheets Trigger1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "NdvNCg6d0ZptJm1D",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "427e9010-e982-4e89-ab48-ba544a5b93ff",
              "leftValue": "={{ $json['Event Completed?'] }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "1149f2bf-0082-4002-bc0f-733709cd71b0",
              "leftValue": "={{ $json['Form Generated (Yes/No)'] }}",
              "rightValue": "no",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1392,
        2304
      ],
      "id": "33c18da2-b26a-400a-886b-79fcae44677b",
      "name": "If1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1X_TO2bMFuKTmsECTbsYxFMtlOkPGhKR3j3o_0olvxYY",
          "mode": "list",
          "cachedResultName": "Employees",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X_TO2bMFuKTmsECTbsYxFMtlOkPGhKR3j3o_0olvxYY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X_TO2bMFuKTmsECTbsYxFMtlOkPGhKR3j3o_0olvxYY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        2304
      ],
      "id": "96d7f7cb-4242-4fdc-af4b-e959bd914cf6",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Calculate LWD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate LWD": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Create a draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "formData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "empData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "empData": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formData": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "intiation email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "node": "getManager",
            "type": "main",
            "index": 0
          },
          {
            "node": "getManager1",
            "type": "main",
            "index": 0
          },
          {
            "node": "getManager2",
            "type": "main",
            "index": 0
          },
          {
            "node": "getManager3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "intiation email": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getManager": {
      "main": [
        [
          {
            "node": "setManager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setManager": {
      "main": [
        [
          {
            "node": "Manager Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getManager1": {
      "main": [
        [
          {
            "node": "setManager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setManager1": {
      "main": [
        [
          {
            "node": "Manager Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getManager2": {
      "main": [
        [
          {
            "node": "setManager2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setManager2": {
      "main": [
        [
          {
            "node": "Manager Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getManager3": {
      "main": [
        [
          {
            "node": "setManager3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setManager3": {
      "main": [
        [
          {
            "node": "Manager Email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "createForm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "createQuestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createForm": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "createQuestions": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "246661f5-b5fb-47ba-a7ad-207337dbe2cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3062000b9c19bf8a4e2c7741c0d61d36abd27f0e30312b580801e91dd6ae451"
  },
  "id": "mKxVhTn-woZNyinYbL6lE",
  "tags": []
}