Telegram agent.json
{
  "name": "Telegram agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ad7a70af-7b12-4313-9936-5eb701fcca62",
      "name": "Telegram Trigger",
      "webhookId": "REPLACE_WEBHOOK_ID"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=###You are a helpful assistant.\n\n###You have access to the contact database, gmail and the calendar tools.\n\n### Use the client contact databse to find the correct email of the people in the 'Email' column.\n\n###If the user request to set an meet on any give day then compare it to the current time: {{ $now }}, and then create the event in the calendar.\n\n###Serve the user request properly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "7c6397b6-75a3-4108-9e29-11ab35518c19",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        944,
        0
      ],
      "id": "3c11e63d-643d-4392-bfdf-02382305091d",
      "name": "Send a text message",
      "webhookId": "REPLACE_WEBHOOK_ID"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "f8fc9ee5-a8c2-4847-8812-3e09959b13db",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tW5347fKpC9Ez5k2",
          "name": "AK-openai"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "9d3fdf8b-5681-4a34-959c-296780aab7b1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        480,
        224
      ],
      "id": "4b00716f-cea3-4a18-ace3-aeef7492c3c8",
      "name": "Send a message in Gmail",
      "webhookId": "REPLACE_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "0OnXcLg8hCsAbOBH",
          "name": "AK-Gmail"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "anishkorade@gmail.com",
          "mode": "list",
          "cachedResultName": "anishkorade@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        624,
        320
      ],
      "id": "2283c885-2128-450b-932e-8661c30bc829",
      "name": "Create an event in Google Calendar"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1S1vqD45WbU1eFadenNoCkrsoxjg36ywvvBQXTy9KEh0",
          "mode": "list",
          "cachedResultName": "Client Contact",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S1vqD45WbU1eFadenNoCkrsoxjg36ywvvBQXTy9KEh0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S1vqD45WbU1eFadenNoCkrsoxjg36ywvvBQXTy9KEh0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        736,
        224
      ],
      "id": "c5a780ac-51a0-42e2-94e4-f57551d26cf8",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tFZraVTGea7lP34f",
          "name": "AK-Google Sheets"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "66365c1c-bc9f-4f78-b22d-68281428ad8f",
  "meta": {
    "instanceId": "e3062000b9c19bf8a4e2c7741c0d61d36abd27f0e30312b580801e91dd6ae451"
  },
  "id": "gts9jHeuSAhEdRCjU-PBs",
  "tags": []
}